<div class="poll mini">
    <h2><a href="{{ path('ColectaPollView', { 'slug': item.slug }) }}">{{ item.name }}</a></h2>
    <p>{{ item.summary }}</p>
    {% if item.options %}
    <ul>
    {% for option in item.options %}
        <li>{{ option.text }}</li>
    {% endfor %}
    </ul>
    {% endif %}
</div>