{% extends '::frontend.html.twig' %}
{% block title %}Acceso de usuario{% endblock%}

{% block article %}

<div class="title-block">
    <h2>Acceso</h2>
</div>

    {% if error %}
        <div class="alert alert-error">{{ error.message | replace({'Bad credentials':'Credenciales incorrectas'}) }}</div> 
    {% endif %}
    
    {% if app.user %}
        <p class="lead">Hola {{ app.user.name }}, ya has iniciado sesión.</p>
    {% else %}
        <form class="well form-horizontal" action="{{ path('userLoginCheck') }}" method="post">
            <div class="control-group">
                <label class="control-label" for="username">Email</label>
                <div class="controls">
                    <input type="text" id="username" name="_username" placeholder="Email" value="{{ last_username }}">
                </div>
            </div>
            
            <div class="control-group">
                <label class="control-label" for="password">Contraseña</label>
                <div class="controls">
                    <input type="password" id="password" name="_password" placeholder="Contraseña">
                </div>
            </div>
            
            <div class="control-group">
                <div class="controls">
                    <label class="checkbox">
                        <input type="checkbox" id="remember_me" name="_remember_me" checked> Recuérdame
                    </label>
                    <button type="submit" name="login" class="btn">Acceder</button>
                </div>
            </div>
        </form>
    {% endif %}
{% endblock %}