{% extends '::frontend.html.twig' %}

{% block title 'Regenerar contraseña' %}

{% block article %}

    <h2>Generar contraseña</h2>
    
    <div class="alert alert-success"><p>Hola <strong>{{ user.name }}</strong>, escribe tu nueva contraseña de acceso.</p></div>
    
    <form class="form-horizontal well" method="POST" action="{{ path('userResetPasswordCode',{'uid':user.id,'code':code}) }}">
        <fieldset>
        
          <div class="form-group">
            <label for="Pass1" class="col-xs-12 col-sm-2 control-label">Contraseña</label>
            <div class="col-xs-12 col-sm-4">
              <input type="password" value="" name="pass1" id="Pass1" class="form-control" autocomplete="off">
            </div>
          </div>
          
          <div class="form-group">
            <label for="Pass2" class="col-xs-12 col-sm-2 control-label">Otra vez</label>
            <div class="col-xs-12 col-sm-4">
              <input type="password" value="" name="pass2" id="Pass2" class="form-control" autocomplete="off">
            </div>
          </div>
          
          <div class="form-group">
            <div class="col-xs-12 col-lg-offset-2 col-lg-10">
              <button class="btn btn-primary" type="submit">Cambiar contraseña <i style="margin-left:10px;" class="fa fa-arrow-right"></i></button>
            </div>
          </div>
          
        </fieldset>
    </form>

{% endblock %}