{% extends '::frontend.html.twig' %}

{% block title 'Regenerar contrase単a' %}

{% block article %}
    <div class="title-block">
        <h2>Regenerar contrase単a</h2>
    </div>
    
    <form class="form-horizontal well" method="POST" action="{{ path('userResetPasswordCode',{'uid':user.id,'code':code}) }}">
        <p><strong>Hola {{ user.name }}</strong>, escribe tu nueva contrase単a</p>
        <fieldset>
          <div class="control-group">
            <label for="Pass1" class="control-label">Contrase単a</label>
            <div class="controls">
              <input type="password" value="" name="pass1" id="Pass1" class="input-xlarge">
            </div>
          </div>
          <div class="control-group">
            <label for="Pass2" class="control-label">Otra vez</label>
            <div class="controls">
              <input type="password" value="" name="pass2" id="Pass2" class="input-xlarge">
            </div>
          </div>
          <div class="form-actions">
            <button class="btn btn-primary" type="submit">Publicar ahora</button>
          </div>
        </fieldset>
    </form>

{% endblock %}