{% extends '::frontend.html.twig' %}
{% block title 'Olvidé mi contraseña' %}

{% block article %}
    <h2>¿Has olvidado tu contraseña?</h2>
    
    {% if not app.session.hasFlash('error') %}
    <div class="alert alert-info"><strong>No te preocupes, todo está bajo control</strong><br>Introduce la dirección de correo electrónico que utilizas para entrar al sistema y te enviaremos instrucciones para reestablecer tu contraseña.</div> 
    {% endif %}
    
    <form class="well form-inline" action="{{ path('userResetPassword') }}" method="post">        
        <label for="email">
            <h3>Tu dirección de correo electrónico</h3>
            <input id="email" name="email" type="text" value="{% if app.session.hasFlash('email') %}{{ app.session.flash('email') }}{% endif %}"> <button type="submit" name="login" class="btn btn-success">Enviar</button>
        </label>
    </form>
{% endblock %}