{% extends '::frontend.html.twig' %}

{% block title 'Olvidé mi contraseña' %}

{% block article %}
    <h2>¿Has olvidado tu contraseña?</h2>
    
    {% if not app.session.flashbag.get('error') and not app.session.flashbag.get('resetmailsuccess') %}
    <div class="alert alert-info"><strong>No te preocupes, todo está bajo control.</strong><br>Introduce la dirección de correo electrónico que utilizas para entrar al sistema y te enviaremos instrucciones para restablecer tu contraseña.</div> 
    {% endif %}
    
    {% for resetmailerror in app.session.flashbag.get('resetmailerror') %}
        <div class="alert alert-danger">
            <i class="fa fa-exclamation-circle"></i>
            
            {{ resetmailerror }}
        </div>
    {% endfor %}
    
    {% for resetmailsuccess in app.session.flashbag.get('resetmailsuccess') %}
    
        <div class="alert alert-success">
            <i class="fa fa-check-circle"></i>
            
            {{ resetmailsuccess }}
        </div>
        
    {% else %}
    
        <form class="well form-inline" action="{{ path('userResetPassword') }}" method="post">        
            <label for="email">
                <p class="lead">Escribe tu dirección de correo electrónico:</p>
                <p><input class="form-control" id="email" name="email" type="text" value="{% for email in app.session.flashbag.get('email') %}{{ email }}{% endfor %}"></p> 
                <p><button type="submit" name="login" class="btn btn-success">Restablecer contraseña <i class="icon-caret-right"></i></button></p> 
            </label>
        </form>
    
    {% endfor %}
{% endblock %}