{% extends '::frontend.html.twig' %}
{% block title 'Olvidé mi contraseña' %}

{% block article %}
    <h2>¿Has olvidado tu contraseña?</h2>
    
    {% if not app.session.hasFlash('error') and not app.session.hasFlash('success') %}
    <div class="alert alert-info"><strong>No te preocupes, todo está bajo control.</strong><br>Introduce la dirección de correo electrónico que utilizas para entrar al sistema y te enviaremos instrucciones para restablecer tu contraseña.</div> 
    {% endif %}
    
    {% if app.session.hasFlash('resetmailerror') %}
    <div class="alert alert-error">
        <span class="icon-stack">
            <i class="icon-sign-blank icon-stack-base"></i>
            <i class="icon-exclamation icon-light"></i>
        </span> 
        
        {{ app.session.flash('resetmailerror') }}
    </div>
    {% endif %}
    
    {% if app.session.hasFlash('resetmailsuccess') %}
    
        <div class="alert alert-success">
            <span class="icon-stack">
                <i class="icon-sign-blank icon-stack-base"></i>
                <i class="icon-ok icon-light"></i>
            </span> 
            
            {{ app.session.flash('resetmailsuccess') }}
        </div>
        
    {% else %}
    
        <form class="well form-inline" action="{{ path('userResetPassword') }}" method="post">        
            <label for="email">
                <h3>Tu dirección de correo electrónico</h3>
                <input id="email" name="email" type="text" value="{% if app.session.hasFlash('email') %}{{ app.session.flash('email') }}{% endif %}"> <button type="submit" name="login" class="btn btn-success">Enviar</button>
            </label>
        </form>
    
    {% endif %}
{% endblock %}