/app/config/parameters.yml
/app/config/web_parameters.yml
/app/cache/*
/app/logs/*
#/web/apple-touch-icon*
#/web/favicon*
#/web/mstile*
/web/uploads/files/*
/web/uploads/avatars/*
/web/uploads/routes/*
*~
*.DS_Store
/infolocal
/vendor/*