/app/config/parameters.yml
/app/config/web_parameters.yml
/app/bootstrap.php.cache
/composer.lock
/app/cache/*
/app/logs/*
/web/uploads/files/*
/web/uploads/avatars/*
/web/uploads/routes/*
*~
*.DS_Store
/infolocal
/vendor/*
