{% extends '::intranet.html.twig' %}

{% block chat 'active' %}

{% block content %}
    <div class="title-block">
        <h2>Chat</h2>
    </div>
    
    <div class="row">
    <form method="post" action="{{ path('ColectaChatPost') }}" id="chatform">
        <div class="span6"><textarea name="text"></textarea></div>
        <button class="btn btn-primary span1">Enviar</button>
    </form>
    </div>
    
    <div id="chatstream">
    {% for m in messages %}
        <div class="row"><div class="span1"><img width="40" height="40" src="{% if m.user.avatar %}{{m.user.avatarWebPath}}{% else %}/img/unknown.gif{% endif %}"></div><div class="span6"><strong>{{ m.user.name }}:</strong> {{ m.text }}<br><small>{% include 'ColectaItemBundle:Default:timeago.html.twig' with { 'date': m.date } only %}</small></div></div>
    {% endfor %}
    </div>
        
{% endblock%}