{% extends '::frontend.html.twig' %}

{% block article %}
    <h2>{{ item.name }}</h2>
    <p>{{ item.description | nl2br }}</p>
<ul>
    <li>Fecha inicio: {{ item.iniDate | date('d/m/Y H:i:s') }}</li>
    <li>Fecha limite: {{ item.endDate | date('d/m/Y H:i:s') }}</li>
</ul>
{% endblock %}