{% extends '::frontend.html.twig' %}

{% block javascripts %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
<script>
    var maxPosition = 1;
    var victories = [];
    
    function addVictory(){
        maxPosition = 1;
        $.each(victories, function(index, value) { 
            victories[index] = {position: $('#ContestVictory'+index+'Position').val(), text:$('#ContestVictory'+index+'Text').val()};
            maxPosition = Math.max(maxPosition, (value.position * 1 + 1));
        });
        
        victories[victories.length] = {position: maxPosition, text: ''};
        
        redrawVictories();
    }
    
    function deleteVictory(position) {
        victories.splice(position,1);
        redrawVictories();
    }
    
    function redrawVictories() {
        $('#victories').html('');
        
        $.each(victories, function(index, value) { 
            var positions = '';
            for(var i = 0; i <= maxPosition; i++) {
                var text = i;
                if(i == 0){text = '--';}
                positions += '<option value="'+i+'"';
                if(i == value.position) { positions += 'selected="selected"'; }
                positions += '>'+text+'</option>';
            }
             $('#victories').append('<div id="victory'+index+'" class="control-group"><button onClick="deleteVictory('+index+'); return false;" class="close pull-right">&times;</button><label class="control-label" for="ContestVictory'+index+'Position">Posición</label><div class="controls"><select style="width:auto;" id="ContestVictory'+index+'Position" name="position'+index+'">'+positions+'</select></div><label class="control-label" for="ContestVictory'+index+'Text">Título</label><div class="controls"><input type="text" class="input-xlarge" id="ContestVictory'+index+'Text" name="position'+index+'text" value="'+value.text+'"></div></div>');
        });
        
    }
</script>
{% endblock %}
{% block article %}

{% if app.user %}
<form onSubmit="if(document.getElementById('map').className != 'active'){searchLocation(); return false;}" action="{{ path('ColectaContestCreate') }}" method="POST" class="form-horizontal well hidden" onclick="this.className='form-horizontal well'">
<h2>Crear un nuevo Concurso</h2>
    <fieldset>
      <div class="control-group">
        <label class="control-label" for="ContestName">Título del concurso</label>
        <div class="controls">
          <input type="text" class="input-xlarge" id="ContestName" name="name">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="ContestDescription">Descripción</label>
        <div class="controls">
          <textarea class="input-xlarge" id="ContestDescription" name="description" rows="3"></textarea>
        </div>
      </div>
      <div id="victories">
      </div>
      <div class="control-group">
        <label class="control-label" for="ContestVictories">Victorias</label>
        <div class="controls">
          <button class="btn btn-success" onClick="addVictory(); return false;">Agregar victoria (Opcional)</button>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="ContestCategory">Categoría</label>
        <div class="controls">
          <select id="ContestCategory" name="category">
            {% for category in categories %}
                <option value="{{ category.id }}">{{ category.name }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="form-actions">
        <input type="hidden" name="latitude" id="PlaceLatitude">
        <input type="hidden" name="longitude" id="PlaceLongitude">
        <button class="btn">Guardar como borrador</button>
        <button type="submit" class="btn btn-primary">Publicar ahora</button>
      </div>
    </fieldset>
</form>
{% endif %}

{% for item in items %}
<div class="item">
    {% include 'ColectaItemBundle:Default:itemheader.html.twig' with { 'item': item } only %}
    
    {% set path = 'Colecta' ~ item.type ~ ':mini.html.twig' %}
    {% set path = path | replace({'/':'Bundle:'}) %}
    {% include path with { 'item': item } only %}
    
    {% include 'ColectaItemBundle:Comment:comments.html.twig' with { 'comments': item.comments, item: item } only %}
</div>
{% else %}
<h2>No hay ningun concurso :(</h2>
{% endfor %}
{% endblock %}