{% extends '::base.html.twig' %}

{% block title web_title %}

{% block body %}
    {% include '::header.html.twig' %}
    <div class="container">    
        {% include '::navigation.html.twig' %}   
        <div class="content">
            {% for flashMessage in app.session.flashbag.get('error') %}
                <div class="alert alert-danger">
                    <i class="fa fa-exclamation-circle"></i> 
                    {{ flashMessage }}
                </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('success') %}
                <div class="alert alert-success">
                    <i class="fa fa-check-square"></i> 
                    {{ flashMessage }}
                </div>
            {% endfor %}

            {% block article %}{% endblock %}
        </div>
        
        {% include '::footer.html.twig' %}
        
    </div>             
{% endblock %}