{% extends '::base.html.twig' %}

{% block title web_title %}

{% block body %}
    <div class="container">
        
        {% include '::header.html.twig' %}
        
        <div class="row content">
            
            <div class="col-xs-12 col-md-3 col-sm-4 hidden-xs {% if theme_sidebar == 'right' %}pull-right{% endif %} sidebar">
                {% include '::navigation.html.twig' %}
            </div>
            
            <div class="col-xs-12 col-md-9 col-sm-8 {% if theme_sidebar == 'right' %}pull-left{% endif %} main">
                {% for flashMessage in app.session.flashbag.get('error') %}
                    <div class="alert alert-danger">
                        <i class="fa fa-exclamation-circle"></i> 
                        {{ flashMessage }}
                    </div>
                {% endfor %}
                {% for flashMessage in app.session.flashbag.get('success') %}
                    <div class="alert alert-success">
                        <i class="fa fa-check-square"></i> 
                        {{ flashMessage }}
                    </div>
                {% endfor %}

                {% block article %}{% endblock %}
            </div>
        </div>
        
        {% include '::footer.html.twig' %}
        
    </div>             
{% endblock %}