<p class="btn-group btn-group-justified sections">
    {% if app.user.role.SiteConfigSettings %}
        <a class="clearfix btn btn-default{% if active == 'settings' %} active{% endif %}" href="{{ path('ColectaBackendSettingsIndex') }}"><i class="fa fa-cogs"></i> <span class="hidden-xs">Ajustes</span></a>
    {% endif %}
    {% if app.user.role.SiteConfigUsers %}
        <a class="clearfix btn btn-default{% if active == 'users' %} active{% endif %}" href="{{ path('ColectaBackendUserIndex') }}"><i class="fa fa-male"></i> <span class="hidden-xs">Usuarios</span></a>
    {% endif %}
    {% if app.user.role.SiteConfigPages %}
        <a class="clearfix btn btn-default{% if active == 'pages' %} active{% endif %}" href="#{#{ path('Colecta') }#}"><i class="fa fa-file-text"></i> <span class="hidden-xs">Páginas</span></a>
    {% endif %}
    {% if app.user.role.SiteConfigLottery %}
        <a class="clearfix btn btn-default{% if active == 'lottery' %} active{% endif %}" href="{{ path('ColectaBackendLotteryIndex') }}"><i class="fa fa-ticket"></i> <span class="hidden-xs">Lotería</span></a>
    {% endif %}
    {% if app.user.role.SiteConfigStats %}
        <a class="clearfix btn btn-default{% if active == 'stats' %} active{% endif %}" href="#{#{ path('Colecta') }#}"><i class="fa fa-book"></i> <span class="hidden-xs">Contabilidad</span></a>
    {% endif %}
    {% if app.user.role.SiteConfigPlan %}
        <a class="clearfix btn btn-default{% if active == 'plan' %} active{% endif %}" href="#{#{ path('Colecta') }#}"><i class="fa fa-dashboard"></i> <span class="hidden-xs">Plan</span></a>
    {% endif %}
</p>