{% extends '::base.html.twig' %}

{% block title web_title %}

{% block body %}
	
	{% set where = app.request.attributes.get("_controller") | split('\\') %}

    {% if where | length > 1 %}
        {% set bun = where[1] %}
        {% set con = (where[3] | split('::'))[0] %}
        {% set act = (where[3] | split('::'))[1] %}
    {% else %}
        {% set bun, con, act = '', '', ''%}
    {% endif %}
    
    {% include '::header.html.twig' %}
    <div class="container">    
        {% include '::navigation.html.twig' %}   
        <div class="content">
            {% for flashMessage in app.session.flashbag.get('error') %}
                <div class="alert alert-danger">
                    <i class="fa fa-exclamation-circle"></i> 
                    {{ flashMessage }}
                </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('success') %}
                <div class="alert alert-success">
                    <i class="fa fa-check-square"></i> 
                    {{ flashMessage }}
                </div>
            {% endfor %}

            {% block article %}{% endblock %}
        </div>
        
        {% include '::footer.html.twig' %}
        
    </div>             
{% endblock %}