<div class="footer col-xs-12 text-center">
    {{ web_title }} | <a href="http://deporde.com" class="deporde"><img src="/favicon-32x32.png" alt="La web de tu club deportivo" /><span> Deporde.com</span></a>
</div>