<div class="footer col-xs-12 text-center">
    {{ web_title }} – <a href="http://deporde.com" class="deporde"><img src="/logo_mini_black.png" alt="La web de tu club deportivo" /><span> Deporde.com</span></a>
</div>