<div class="footer col-xs-12 text-center">
    {{ web_title }} <br> <a href="http://deporde.com" class="deporde"><img src="/icon.png" alt="La web de tu club deportivo" /> <span>Deporde</span></a>
</div>