{% extends '::base.html.twig' %}

{% block stylesheets %}{% endblock %}
{% block javascripts %}{% endblock %}

{% block body %}
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <h1><a class="brand" href="/">Colecta</a></h1>
            
            <form class="form-search pull-left">
                <input type="text" class="input-medium search-query">
                <button type="submit" class="btn">Buscar</button>
            </form>
        </div>
    </div>
</div>

<div class="container">
<div class="row">
<aside class="span2">
    <nav>
        <ul> 
            <li>Hola {{ app.user.name }}</li>
        </ul> 
    </nav>
</aside>

<article class="span8"> {% block article %}{% endblock %}</article>

<aside class="span2">
    <nav>
        <ul> 
            <li>Adios</li>
        </ul> 
    </nav>
</aside>
</div>
</div>
{% endblock %}