{% extends '::base.html.twig' %}

{% block title web_title %}

{% block body %}

	{% set where = app.request.attributes.get("_controller") | split('\\') %}

    {% if where | length > 1 %}
        {% set bun = where[1] %}
        {% set con = (where[3] | split('::'))[0] %}
        {% set act = (where[3] | split('::'))[1] %}
    {% else %}
        {% set bun, con, act = '', '', ''%}
    {% endif %}
		
	<div class="container p-0">
	    {% include '::header.html.twig' %}
	    {% include '::navigation.html.twig' %}
    </div>
    
	<div class="container">
		{% for flashMessage in app.session.flashbag.get('error') %}
		    <div class"row">
		        <div class="col alert alert-danger mx-0 mb-0 mt-3">
		            <i class="fa fa-exclamation-circle"></i> 
		            {{ flashMessage }}
		        </div>
		    </div>
		{% endfor %}
		
		{% for flashMessage in app.session.flashbag.get('success') %}
		    <div class"row">
		        <div class="col alert alert-success mx-0 mb-0 mt-3">
		            <i class="fa fa-check-square"></i> 
		            {{ flashMessage }}
		        </div>
		    </div>
		{% endfor %}
		
        {% block article %}{% endblock %}
        
        {% include '::footer.html.twig' %}
    </div>             
{% endblock %}