<div class="row">
    <div class="col-xs-12">
        
        <div class="navbar navbar-default navbar-static-top" role="navigation">                            
            <a class="navbar-brand" href="/">{{ web_title }}</a>
        </div>
        
        {# if web_header_img | length %}
            <div id="headerimg" style="background-image: url( {{ random(web_header_img) }} );"></div>
        {% endif #}
        
    </div>
</div>