<p class="btn-group btn-group-justified sections">
    <a class="clearfix btn btn-default{% if active == 'chat' %} active{% endif %}" href="{{ path('ColectaChatIndex')}}"><i class="fa fa-comments"></i> <span class="hidden-xs">Chat</span></a>
    <a class="clearfix btn btn-default{% if active == 'activities' %} active{% endif %}" href="{{ path('ColectaActivitiesIndex')}}"><i class="fa fa-bar-chart-o"></i> <span class="hidden-xs">Rendimiento</span></a>
    <a class="clearfix btn btn-default{% if active == 'rank' %} active{% endif %}" href="{{ path('ColectaActivitiesRank')}}"><i class="fa fa-trophy"></i> <span class="hidden-xs">Ranking</span></a>
    {#<a class="clearfix btn btn-default{% if active == 'lottery' %} active{% endif %}" href="{{ path('ColectaLotteryIndex')}}"><i class="fa fa-ticket"></i> <span class="hidden-xs">Lotería</span></a>#}
</p>