{% if app.user %}
{% extends '::base.html.twig' %}

{% block title web_title %}

{% block body %}
    <div class="container">
        
        {% include '::header.html.twig' %}
        
        <div class="row content">
            
            <div class="col-xs-12 col-md-3 col-sm-4 {% if theme_sidebar == 'right' %}pull-right{% endif %} sidebar">
                {% include '::navigation.html.twig' %}
            </div>
            
            <div class="col-xs-12 col-md-9 col-sm-8 {% if theme_sidebar == 'right' %}pull-left{% endif %} main">
                {% if app.session.hasFlash('error') %}
                    <div class="alert alert-danger">
                        <span class="fa-stack fa-lg">
                            <i class="far fa-square fa-stack-2x"></i>
                            <i class="far fa-exclamation fa-stack-1x fa-inverse"></i>
                        </span> 
                        
                        {{ app.session.flash('error') }}
                    </div>
                {% endif %}
                {% if app.session.hasFlash('success') %}
                    <div class="alert alert-success">
                        <span class="fa-stack fa-lg">
                            <i class="far fa-square fa-stack-2x"></i>
                            <i class="far fa-check fa-stack-1x fa-inverse"></i>
                        </span> 
                        
                        {{ app.session.flash('success') }}
                    </div>
                {% endif %}

                {% block content %}{% endblock %}
            </div>
        </div>
    </div>   
{% endblock %}
{% endif %}