{% extends '::frontend.html.twig' %}

{% block posts 'active' %}

{% block javascripts %}  
    <script>        
        {% include 'ColectaItemBundle:Default:categoryform.js.twig' %}
    </script>
{% endblock %}

{% block article %}

<div class="title-block">
    <h2>Crear Publicación</h2>
</div>

{% include 'ColectaItemBundle:Post:form.html.twig' %}

{% endblock %}