parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            es
    secret:            ThisTokenIsNotSoSecretChangeIt
    
    mail:
        from: { foo@bar.com : Nombre del remitente }
        admin: [foo1@bar.com, foo2@bar.com]
    welcomeText: |
        Hola %N!
        
        Ya puedes acceder a tu cuenta en ---web_title---
        
        Simplemente tienes que seguir el siguiente enlace:
        %L
        
    #Limits for the account
    files_monthly_max: 10000 # number of files
    space_monthly_max: 4000  # MB
    users_active_max: 200    # users with role that allows interaction

twig:
    globals:
        ##### LAYOUT #####
        web_title: Nombre del club
        theme_css: style
        theme_sidebar: right
        allowed_tags: <br><img>#<span><a><ol><ul><li>
        rich_text_editor: 0
        summary_max_length: 600
        web_header_img:
            - http://turyciclo.com/img/bg/00.jpg
            - http://turyciclo.com/img/bg/01.jpg
            - http://turyciclo.com/img/bg/02.jpg
            - http://turyciclo.com/img/bg/03.jpg
            - http://turyciclo.com/img/bg/04.jpg
            - http://turyciclo.com/img/bg/05.jpg
            - http://turyciclo.com/img/bg/06.jpg
            - http://turyciclo.com/img/bg/08.jpg
            - http://turyciclo.com/img/bg/07.jpg
            - http://turyciclo.com/img/bg/09.jpg
        itemIcons:
            Item/Post: align-left
            Activity/Event: calendar
            Activity/Route: location-arrow
            Activity/Place: map-marker
            Files/File: folder-open
            Files/Folder: folder-open
            
        
        ##### ANALYTICS #####
        #googleAnalyticsID: UA-XXXXXXXX-X
        #googleAnalyticsName: ciclubs.com