parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            es
    secret:            ThisTokenIsNotSoSecretChangeIt
    
    mail:
        from: { foo@bar.com : Nombre del remitente }
        admin: [foo1@bar.com, foo2@bar.com]
        
    #Limits for the account
    limit_space: 100  # MB
    limit_users: 12    # users with role that allows interaction
    
    #Google Maps
    maps_api_key: ~
    
    #Uploads
    uploads_adapter: uploads_local # uploads_local|uploads_s3
    amazon_s3.key: ~
    amazon_s3.secret: ~
    amazon_s3.region: ~
    amazon_s3.bucket: ~
    amazon_s3.directory: ~
    uploads_local_directory: %kernel.root_dir%/../web/uploads
    
    #Mailgun
    mailgun_key: ~
    mailgun_domain: ~
security:
    firewalls:
        main:
            remember_me:
                key:        ThisTokenIsNotSoSecretChangeIt
twig:
    globals:
        maps_api_key: '%maps_api_key%'