parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            es
    secret:            ThisTokenIsNotSoSecretChangeIt
    
    mail:
        from: { foo@bar.com : Nombre del remitente }
        admin: [foo1@bar.com, foo2@bar.com]
        
    #Limits for the account
    limit_space: 100  # MB
    limit_users: 12    # users with role that allows interaction
    
security:
    firewalls:
        main:
            remember_me:
                key:        ThisTokenIsNotSoSecretChangeIt