parameters:
    welcomeText: "Hola %N!\n\nYa puedes acceder a tu cuenta en ---web_title---\n\nSimplemente tienes que seguir el siguiente enlace:\n%L\n"
twig:
    globals:
        web_title: 'Título de la web'
        web_description: 'Descripción breve de la web.'
        web_theme: theme-blue
        theme_sidebar: right
        allowed_tags: '<br><img>#<span><a><ol><ul><li>'
        rich_text_editor: 0
        summary_max_length: 1200
        web_logo: ''
        web_logo_only: 0
        web_header_img: {  }
        web_links: {  }
        itemIcons:
            Item/Post: comments
            Activity/Event: calendar
            Activity/Route: compass
            Activity/Place: map-marker
            Files/File: folder-open
            Files/Folder: folder-open
        #googleAnalyticsID: ''
        #googleAnalyticsName: ''
        adsense: ''