{% extends '::frontend.html.twig' %}

{% block article %}

    <div class="row">
        <div class="col-sm-8 col-lg-9">
            <h2>Editar {{ item.name }}</h2>
        </div>
        <div class="col-sm-4 col-lg-3">
            <a class="btn btn-default btn-block" href="{{ path('ColectaFolderView', {'slug':item.slug}) }}"><i class="fa fa-angle-double-left"></i> Volver a la carpeta</a>
        </div>
    </div>

    {% include 'ColectaFilesBundle:Folder:form.html.twig' with { 'item': item, 'formaction': path('ColectaFolderEdit', {'slug':item.slug}),'firstwrite':0} %}
    
    <hr>
    <h3>Enlazar con otros contenidos</h3>
    <div class="monocontent">
        {% include 'ColectaItemBundle:Default:relateItems.html.twig' with { 'item': item } only %}
    </div>
    
{% endblock %}

{% block javascripts %}  
    {#<script src="/js/filepreview.js"></script>#}
    <script>        
        {% include 'ColectaItemBundle:Default:relateitems.js.twig' %}
        {% include 'ColectaItemBundle:Category:categoryform.js.twig' %}
    </script>
{% endblock %}