{% extends '::frontend.html.twig' %}

{% block article %}
<h2>{{ item.name }}</h2>
<p>Numero de archivos: {{ item.files | length }}</p>
<ul>
    {% for file in item.files %}
        <li><a href="{{ path('ColectaFileView', { 'slug': file.slug }) }}">{{ file.name }}</a></li>
    {% endfor %}
</ul>
{% endblock %}