{% extends 'ColectaItemBundle:Default:itemMicro.html.twig' %}

{% block thumbnail %}
    {% if item.files | length > 0 %}
        
        {% set files = item.isolateLast %}
        
        {% if files | length == 0 %}
            {% set files = item.files %}
        {% endif %}
        
        {% set preview = files[0] %}
        
        {% if preview.filetype in ['jpeg','gif','png'] %}
            <a href="{{ path('ColectaFileView', { 'slug': preview.slug }) }}"><img class="img-responsive" src="{{ path('ColectaFileResize', {'slug':preview.slug, 'width':'180', 'height':'180'}) }}"></a>
        {% else %}
            <a href="{{ path('ColectaFileDownload',{ 'slug': preview.slug, 'type': preview.filetype }) }}" class="btn btn-success"><i class="icon-download-alt icon-large"></i> <strong style="text-transform: uppercase;">{{ preview.filetype }}</strong></a>
        {% endif %}
        
    {% endif %}
{% endblock %}