{% extends '::intranet.html.twig' %}

{% block lottery 'active' %}

{% block content %}

<p><strong>2010-12-18</strong> recogida papeletas de 220 a 270</p>
<p><strong>2010-12-27</strong> devueltas papeletas de 256 a 270</p>
<p><strong>2011-12-18</strong> recogida papeletas de 180 a 230 <input type="button" class="btn btn-mini" value="devolver papeletas"></p>
<hr>
<h2>Generar una transacción de lotería</h2>
<form>Papeletas numeradas de <input type="text" class="span1"> a  <input type="text" class="span1"> <input type="submit" class="btn btn-success" value="Generar"></form>
{% endblock%}