{% extends '::frontend.html.twig' %}

{% block events 'active' %}

{% block article %}

<div class="title-block">
    {% if app.user %} <a href="{{ path('ColectaEventNew') }}" class="btn btn-small pull-right btn-primary">Crear evento <i class="icon-plus"></i></a> {% endif %}
    <h2>
    {% if ismonth %}
        Eventos en {% include "::month.html.twig" with {'date': date, 'short':0} %}</h2>
    {% else %}
        Eventos el {{ date | date('j')  }} de {% include "::month.html.twig" with {'date': date, 'short':0} %} 
    {% endif %}
    </h2>
</div>

<div class="bigcalendar">
{% render "ColectaActivityBundle:Event:calendar" with {'date':date | date('Y/n/j')} %}
</div>

{% for item in items %}

    <div class="item">        
        {% set path = 'Colecta' ~ item.type ~ ':micro.html.twig' %}
        {% set path = path | replace({'/':'Bundle:'}) %}
        {% include path with { 'item': item } only %}
    </div>

{% else %}
    
    <div class="alert alert-info">
        No hay ningún evento en esta fecha.
    </div>

{% endfor %}

{% endblock %}