{% extends '::frontend.html.twig' %}

{% block title %}Actividades{% endblock %}

{% block article %}

{% if app.user %} <a href="{{ path('ColectaEventNew')}}" class="btn btn-small btn-default pull-right">Nueva publicación <i class="fa fa-plus"></i></a> {% endif %}
<h2><i class="fa fa-{{ itemIcons['Activity/Event'] }} fa-fw"></i> 
{% if ismonth %}
    {% include "::month.html.twig" with {'date': date, 'short':0} %}
{% else %}
    {{ date | date('j')  }} de {% include "::month.html.twig" with {'date': date, 'short':0} %} 
{% endif %}
</h2>

<div class="bigcalendar">
{% render "ColectaActivityBundle:Event:calendar" with {'date':date | date('Y-m-d')} %}
</div>

{% set hiddenset = 0 %}
{% if date | date('Ym') == 'now' | date('Ym') and ismonth and items | length > 0 and items[0].happened %}
    {% set hiddenset = 1 %}
    <div id="hiddenset" style="display:none;">
{% endif %}

{% for item in items %}
    
    {% if hiddenset and not item.happened %}
        {% set hiddenset = 0 %}
        </div>
        <div class="row" id="showMoreEvents"><p class="col-sm-4 col-xs-12" style="margin:10px 0 20px"><button onClick="$('#showMoreEvents').css('display','none'); $('#hiddenset').css('display','block')" type="button" class="btn btn-sm btn-default btn-block"><i style="color:darkgreen;margin-right:2px" class="fa fa-plus-square"></i> Ver eventos pasados de este mes</button></p></div>
    {% endif %}
    
    {% set path = 'Colecta' ~ item.type ~ ':micro.html.twig' %}
    {% set path = path | replace({'/':'Bundle:'}) %}
    {% include path with { 'item': item } only %}
    
    {% if item.related | length > 0 %}
        <div class="relations">
            {% for relitem in item.related if relitem.draft == 0 %}
                {% include "ColectaItemBundle:Default:onlyHeader.html.twig" with {'item':relitem} only %}
            {% endfor %}
        </div>
    {% endif %}
    
    
        
{% else %}
    
    <div class="alert alert-info">
        No hay ningún evento en esta fecha.
    </div>

{% endfor %}

{% if hiddenset %}
    </div>
    <div class="row" id="showMoreEvents"><p class="col-sm-3 col-xs-12" style="margin:10px 0 20px"><button onClick="$('#showMoreEvents').css('display','none'); $('#hiddenset').css('display','block')" type="button" class="btn btn-sm btn-default btn-block"><i class="fa fa-ellipsis-vertical" style="padding:0 5px"></i> Ver eventos pasados</button></p></div>
{% endif %}

{% endblock %}