{% extends '::frontend.html.twig' %}

{% block events 'active' %}

{% block article %}

<div class="title-block">

{% if date %}
<h2>Eventos el {{ date | date('j')  }} de 
        {{ date | date('n') | replace({
            '1':'enero',
            '2':'febrero',
            '3':'marzo',
            '4':'abril',
            '5':'mayo',
            '6':'junio',
            '7':'julio',
            '8':'agosto',
            '9':'septiembre',
            '10':'octubre',
            '11':'noviembre',
            '12':'diciembre'
        }) }} </h2>
{% endif %}

</div>

{% for item in items %}

    <div class="item">
        {% include 'ColectaItemBundle:Default:itemheader.html.twig' with { 'item': item } only %}
        
        {% set path = 'Colecta' ~ item.type ~ ':mini.html.twig' %}
        {% set path = path | replace({'/':'Bundle:'}) %}
        {% include path with { 'item': item } only %}
        
        {% include 'ColectaItemBundle:Comment:comments.html.twig' with { 'comments': item.comments, item: item } only %}
    </div>

{% else %}
    
    <div class="alert alert-info">
        No hay ningún evento en esta fecha.
    </div>

{% endfor %}

{% endblock %}