{% extends '::frontend.html.twig' %}

{% block events 'active' %}

{% block article %}

<div class="title-block">

{% if date %}
    {% if ismonth %}
        <h2>Eventos en {% include "::month.html.twig" with {'date': date, 'short':0} %}</h2>
    {% else %}
<h2>Eventos el {{ date | date('j')  }} de {% include "::month.html.twig" with {'date': date, 'short':0} %} </h2>
    {% endif %}
{% endif %}
</div>

{% render "ColectaActivityBundle:Event:calendar" with {'date':date | date('Y/n/j')} %}

{% for item in items %}

    <div class="item">        
        {% set path = 'Colecta' ~ item.type ~ ':micro.html.twig' %}
        {% set path = path | replace({'/':'Bundle:'}) %}
        {% include path with { 'item': item } only %}
    </div>

{% else %}
    
    <div class="alert alert-info">
        No hay ningún evento en esta fecha.
    </div>

{% endfor %}

{% endblock %}