{% extends '::frontend.html.twig' %}

{% block events 'active' %}

{% block javascripts %}  
    <link rel="stylesheet" href="/css/cupertino/jquery-ui-1.10.1.custom.min.css" />
    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery-ui-1.10.1.custom.min.js"></script>
    <script>
        jQuery(function($){
        	$.datepicker.regional['es'] = {
        		closeText: 'Cerrar',
        		prevText: 'Anterior',
        		nextText: 'Siguiente',
        		currentText: 'Hoy',
        		monthNames: ['Enero','Febrero','Marzo','Abril','Mayo','Junio',
        		'Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'],
        		monthNamesShort: ['Ene','Feb.','Mar','Abr','May','Jun',
        		'Jul.','Ago','Sep','Oct','Nov','Dic'],
        		dayNames: ['Domingo','Lunes','Martes','Miercoles','Jueves','Viernes','Sábado'],
        		dayNamesShort: ['Dom.','Lun.','Mar.','Mie.','Jue.','Vie.','Sáb.'],
        		dayNamesMin: ['D','L','M','X','J','V','S'],
        		weekHeader: 'Sem.',
        		dateFormat: 'yy-mm-dd',
        		firstDay: 1,
        		isRTL: false,
        		showMonthAfterYear: false,
        		yearSuffix: ''};
        	$.datepicker.setDefaults($.datepicker.regional['es']);
        });

        $(function() {
            $( "#EventDateini" ).datepicker({onSelect : function(text,obj){
                        $( "#EventDateend" ).datepicker( "option", "minDate", $( "#EventDateini" ).datepicker( "getDate" ) );
            }});
            $( "#EventDateend" ).datepicker();
            
            $( "#EventDateend" ).datepicker( "option", "minDate", $( "#EventDateini" ).datepicker( "getDate" ) );
        });
        
        function toggleCategoryCreate() {
            var button = $('#categoryCreateButton');
            if(button.hasClass('newcategory')) {
                button.removeClass('newcategory').addClass('selectcategory');
                button.html('Seleccionar una categoría existente');
                $('#EventCategory').hide();
                $('#EventNewCategory').show().focus();
            } else {
                button.removeClass('selectcategory').addClass('newcategory');
                button.html('Crear una nueva categoría');
                $('#EventCategory').show();
                $('#EventNewCategory').hide().attr('value','');
            }
        }
    </script>
{% endblock %}

{% block article %}

<div class="title-block">
    <h2>Crear Evento</h2>
</div>

{% include 'ColectaActivityBundle:Event:form.html.twig' with { 'categories': categories} %}

{% endblock %}