{% if events | length > 0 %}
    {% for event in events %}
        <div class="nextevent level{{ loop.index }}">
            <a href="{{ path('ColectaEventView', { 'slug': event.slug }) }}"><i class="icon-chevron-right pull-right"></i> {{ event.name }}</a>
        </div>
    {% endfor %}
{% endif %}