{% extends '::frontend.html.twig' %}

{% block article %}
<h1>Upload File</h1>

<form action="{{ path('userEditProfile') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    
    <hr>
    <p><input class="btn btn-primary" type="submit" value="Guardar cambios" /></p>
</form>
{% endblock %}

