body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#main {
    padding-top: 50px;
}
#body {
    background-color: #FFFFFF;
    padding-top: 10px;
    overflow: visible;
    margin-left: 0;
}
h1 {
    margin: 0;
    font-family: 'Proxima Nova', 'proxima-nova', 'Helvetica Neue', Helvetica, sans-serif;
}
h2 {
    font-size: 20px;
    line-height: 24px;
    font-weight: bold;
    font-family: 'Proxima Nova', 'proxima-nova', 'Helvetica Neue', Helvetica, sans-serif;
}
form.well {
    border-radius: 0 0 4px 4px;
}
a i {
    text-decoration: none !important;
}
.hidden {
    display: none !important;
}
.navbar-fixed-top {
    opacity: .95; 
}
.pagination {
    margin: 10px 0;
}
.title-block {
    background-color: #FFF;
    border: 1px solid #DDDDDD;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    margin-bottom: -10px;
    padding: 10px 10px 15px 20px;
    position: relative;
    top: -20px;
}
.title-block span {
    color: #777777;
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 11px;
}
.title-block img {
    float: right;
    border: 1px solid #ccc; 
    padding: 4px; 
    background-color: #fff; 
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
.title-block h2 {
    color: #333333;
    font-size: 34px;
    font-weight: normal;
    line-height: 26px;
    margin: 0;
}
.title-block a.btn-primary {
    text-transform: uppercase;
    font-weight: bold;
    padding: 5px 25px;
    font-size: 11px;
}
.alert-block {
    padding: 5px 8px;
    margin-bottom: 12px;
}
form.form-horizontal label.control-label {
    width: 110px;
}
form.form-horizontal .controls {
    margin-left: 130px;
}
form.form-horizontal .control-group {
    margin-bottom: 10px;
}
form.form-horizontal .form-actions {
    margin: 0px;
    padding: 10px 0 3px 130px;
}
form.form-horizontal .controls textarea {
    width: 350px;
    height: 130px;
}
.navbar .brand {
    font-size: 24px;
    line-height: 26px;
    padding: 4px 20px 8px;
}
.navbar form {
    margin: 5px 0 0 35px;
}
.headimg {
    background-size: 100% auto;
    margin: -10px 0 0;
    height: 140px; 
    width: 940px; 
    line-height: 160px;
    text-align: center;
    color: #EEEEEE;
    font-size: 160px;
    overflow: hidden;
}
.intranet-menu {
    margin-top: 60px;
}
.sub.nav {
    margin-top: -15px;
}
.myself {
    overflow: hidden;
    border-bottom: 1px solid #CCC;
    padding: 0 0 5px;
    line-height: 14px;
}
.myself img {
    border: 1px solid #EEE;
    float: left;
    margin: 0 10px 5px 0;
    padding: 2px;
}
.myself .name {
    padding-bottom: 4px;
}
.myself a {
    line-height: 20px;
}
#userbar .nav {
    margin-bottom: 10px;
    padding: 10px 15px;
}
#userbar .nav a {
    color: #222;
}
#userbar .nav li.active a {
    color: #fff;
}
.well.login {
    padding: 7px 0 2px 14px;
}
.well.login .checkbox input {
    margin-left: -18px;
}

#stream {
    min-height: 470px;
    margin-bottom: 200px;
}

#sidebar ul {
    margin: 0;
    padding: 0;
}
#sidebar li {
    list-style: none;
}
#sidebar li a {
    display: block;
    color: #000;
    padding: 5px 0 5px 12px;
    font-size: 14px;
    line-height: 24px;
    border-bottom: 1px solid #f2f2f2;
}
#sidebar li a#homeButton {
    color: #2F7ED4;
    font-size: 16px;
    font-weight: bold;
}
#sidebar li a i {
    margin: 2px;
}
/* G+ */
#sidebar {
    width: 100px;
    margin-left: 0;
}
#stream {
    width: 580px;
}
#sidebar li a {
    text-align: center;
    color: #555555;
    padding: 5px;
}
#sidebar li a i {
    font-size: 40px;
    display: block;
    margin: 0 auto;
}
/* G+ */
#sidebar li a:hover {
    background-color: #f7f7f7;
}
#sidebar li a.active {
    background-color: #2F7ED4;
    color: #fff !important;
}

#userbar {
    margin-left: 10px;
    width: 230px;
}

.ads {
    text-align: center;
    margin: 15px 0;
    border: 1px solid #F0F0F0;
    padding: 15px 0;
    background-color: #FAFAFA;
}
#stream{
    border-left: 1px solid #2F7ED4;
    margin-left: 0;
    padding-left: 12px;
}

.alert .close {
    top: -4px;
    right: -4px;
}

.spanhalf {
    width: 30px;
}
.fullscreen {
    z-index: 10001;
}
.dropdown:hover .download {
    display: block;
    margin: 0;
}
#map.active {
    height: 220px;
}
#map.full {
    height: 300px;
    width: 365px;
    border: 1px solid #999;
    margin-bottom: 0;
}
#map.fullscreen {
    width: auto;
    height: auto;
    top: 13px;
    left: 0;
    right: 200px;
    bottom: 180px;
    margin: 0;
}
#mapproperties {
    float: right;
    height: 300px;
    width: 200px;
    overflow-y: auto;
    background-color: #fff;
}
#mapproperties .nav a {
    color: #666;
}
#mapproperties.fullscreen {
    position: fixed;
    height: auto;
    border: 0;
    right: 0;
    top: 0;
    bottom: 180px;
    margin: 0;
}
#chart {
    height: 180px;
    margin: 15px 0 5px;
}
#chart.fullscreen {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    right: 0;
}
.btn-mini i {
    margin: 0;
}
#victories .control-group {
    border: 1px solid #0074CC;
    padding: 10px;
    background-color: white;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    -khtml-border-radius: 7px;
    border-radius: 7px;
}
#victories .control-group .controls {
    margin: 3px 0 3px 130px;
}

/* PROFILE */
.profile.mini {
    color: #676767;
    margin: 0 0 12px -5px;
}
.profile.mini img {
    float: left;
    margin: 2px 5px;
}
.profile.mini a.username {
    font-weight: bold;
    color: #000;
}
/* ITEMS */
.item {
    border-bottom: 1px solid #EEE;
    padding: 10px 4px 30px;
}
.itemActions {
    margin: 10px 0 0 3px;
    font-size: 12px;
    clear: both;
}
.itemActions span, .itemActions a {
    padding: 0 10px 0 0;
}
.event.mini h2{
    margin-left: 0;
}
.maplink {
    border: 1px solid #CCC;
    margin-bottom: 10px;
    padding: 3px;
    display: block;
}
.fullimage .pull-left, .fullimage .pull-right {
    line-height: 420px;
    color: #fff;
    text-shadow: 0 2px 2px black;
    opacity: .3;
}
.fullimage .pull-left.active:hover, .fullimage .pull-right.active:hover {
    opacity: .9;
}
.fullimage .pull-left {
    padding: 0 210px 0 10px;
}
.fullimage .pull-right {
    padding: 0 10px 0 210px;
}
ul.properties {
    overflow: hidden;
    clear: both;
    margin: 0;
    background-color: #f7f7f7;
}
ul.properties li {
    float: left;
    margin: 2px 15px;
    list-style: none;
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    color: #444;
}
ul.properties li strong {
    display: block;
    font-size: 18px;
    text-transform: none;
    color: #444;
    margin-bottom: 3px;
}
ul.properties li.small {
    margin: 2px 12px;
}
ul.properties li.small strong  {
    font-size: 16px;
}
ul.properties .assistance {
    float:right;
    padding: 5px 0;
    margin: 2px 4px 0;
}
ul.properties .assistance .btn {
    text-transform: none;
}
ul.properties .assistance .btn .undo {
    display: none;
}
ul.properties .assistance .btn:hover .undo {
    display: inline;
}
ul.properties .assistance .btn:hover .done {
    display: none;
}
ul.moreproperties {
    float: right;
    background-color: #f7f7f7;
    padding: 4px 6px;
}
ul.moreproperties li {
    list-style: none;
}
div.assistances {
    clear: both;
    margin: 0 0 10px 0;
}
div.assistances h2 {
    border-bottom: 1px solid #ccc;
    margin-bottom: 4px;
}
div.assistances ul {
    border: 1px solid #eee;
    border-bottom: 0;
}
div.assistances ul li {
    padding: 5px;
    overflow: hidden;
    background-color: #fcfeff;
    color: #888;
    border-bottom: 1px solid #eee;
}
div.assistances ul li input {
    margin: 0;
    padding: 2px;
}
div.assistances ul li label {
    display: inline;
    font-weight: bold;
}
div.assistances ul li.odd {
    background-color: #f0fbff;
}
div.assistances ul li a {
    color: #000;
}
.event.micro {
    margin-bottom: -25px;
    overflow: hidden;
}
.event.micro.happened h2 a {
    color: #5B6469;
}
.event .date {
    float: left;
    margin: 0 20px 15px 0px;
    padding-bottom: 6px;
    cursor: default;
    text-align: center;
    color: #000;
    background-color: #f7f7f7;
    font-size: 20px;
    line-height: 24px;
}
.event.micro .date {
    font-size: 14px;
    line-height: 14px;
}
.event.micro .date {
    width: 60px;
}
.event .date span {
    display: block;
    width: 120px;
}
.event.micro .date span {
    width: auto;
    color: #333;
    padding: 1px 0;
}
.event .date .weekday {
    text-transform: lowercase;
    font-size: 16px;
}
.event.micro .date .weekday {
    font-size: 12px;
}
.event .date .monthday {
    font-size: 40px;
    line-height: 40px;
    color: #FFF;
    background-color: #444;
}
.event.micro .date .monthday {
    font-size: 20px;
    line-height: 20px;
    color: #FFF;
}
.event .date .month {
    text-transform: uppercase;
    font-size: 14px;
}
.event.micro .date .month {
    font-size: 14px;
    padding-bottom: 2px;
}    
.event.micro .datum {
    float: left;
    width: 490px;
}
.event.micro .datum h2 {
    margin: 0 0 2px;
}
.event.micro ul.properties li {
    font-weight: normal;
    margin: 2px 10px;
}
.event.micro ul.properties li strong {
    font-size: 16px;
}
.event.micro ul.properties li.small strong {
    font-size: 14px;
}
.poll ul {
    margin-left: 25px;
}
.poll form label {
    display: inline;
    padding-left: 10px;
    font-size: 14px;
    font-weight: bold;
}
.poll .totalvotes {
    background-color: #efefef;
    border-top: 1px solid #ccc;
    padding: 3px 8px;
}
.poll .progress {
    margin: 5px 0 10px;
}
.mini p {
    margin: 10px;
}

.place.mini .thumbnail, .file.mini .thumbnail {
    margin: 0 10px 10px 0;
}
.route.full ul.properties {
    margin: 10px 0;
    padding-left: 25px;
}
.comments {
    clear: both;
    margin: 10px 0 0 10px;
}
.comments .media-heading a {
    color: #000;
}
.comments .media-heading {
    padding: 0;
}

#chatform {
    overflow: hidden;
    margin: 15px 0 10px 20px;
}
#chatform textarea {
    display: block;
    width: 100%;
    height: 40px;
}
#chatform button {
    height: 50px;
}
#chatstream .span1 {
    text-align: right;
}
#chatstream .span7 {
    margin-left: 7px;
    border-bottom: 1px solid #eee;
}
#chatstream .row {
    margin-bottom: 5px;
}
#chatstream small {
    color: #777;
}
.calendar {
    font-size: 12px;
    background-color: #fff;
}
.bigcalendar .calendar {
    font-size: 14px;
}
.calendartitle {
    display: block;
    background-color: #EEE;
    border-top: 1px solid #ccc;
    padding: 3px 5px;
    font-size: 12px;
    text-align: center;
}
.bigcalendar .calendartitle {
    font-size: 16px;
}
.calendar th {
    text-align: center;
    color: #777;
}
.calendar td {
    text-align: center;
}
.calendar td a {
    text-decoration: underline;
    display: block;
    font-weight: bold;
}
.calendar td a:hover, .calendar td a:active {
    background-color: #eee;
    color: #005580;
}
.calendar td.today {
    background-color: #2F7ED4;
    color: #FFF;
}
.calendar td.today a {
    color: #fff;
}
.calendar td.today a:hover, .calendar td.today a:active {
    background-color: transparent;
    color: #fff;
}
.nextevent {
    border-top: 2px solid #0088CC;
    margin-bottom: 10px;
    padding: 4px;
}
.nextevent a {
    display: block;
}
.nextevent.level1 {
    opacity: 1
}
.nextevent.level2 {
    opacity: .6
}
.nextevent.level3 {
    opacity: .3
}
.nextevent.level4 {
    opacity: .1
}
.thumbnail {
    background-color: #FFF;
}
.thumbnail .caption {
    padding: 2px 9px;
}
.thumbnail .fit {
    overflow: hidden;
    text-align: center;
    word-wrap: break-word;
    line-height: 14px;
}
.thumbnail .fit img {
    max-height: 100%;
}