@font-face {
     font-family: 'Aller';
     src: url('/fonts/Aller_Rg.ttf') format('truetype');
     font-weight: normal;
     font-style: normal;
}
@font-face {
     font-family: 'Aller';
     src: url('/fonts/Aller_Bd.ttf') format('truetype');
     font-weight: bold;
     font-style: normal;
}
@font-face {
     font-family: 'Aller';
     src: url('/fonts/Aller_It.ttf') format('truetype');
     font-weight: normal;
     font-style: italic;
}
@font-face {
     font-family: 'Aller';
     src: url('/fonts/Aller_BdIt.ttf') format('truetype');
     font-weight: bold;
     font-style: italic;
}
@font-face {
     font-family: 'Aller';
     src: url('/fonts/Aller_Lt.ttf') format('truetype');
     font-weight: lighter;
     font-style: normal;
}
@font-face {
     font-family: 'Aller';
     src: url('/fonts/Aller_LtIt.ttf') format('truetype');
     font-weight: lighter;
     font-style: italic;
}
@font-face {
     font-family: 'AllerDisplay';
     src: url('/fonts/Aller_Display.ttf') format('truetype');
     font-weight: normal;
     font-style: normal;
}
body { 
    font-family: Aller, Arial, Helvetica, sans-serif;
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Aller;
    font-weight: lighter;
}

h2{
    margin: 0 0 8px;
}

/* LEFT/RIGHT ICON ADDON */
/* enable absolute positioning */
.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .fa {
  position: absolute;
  top: 0;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .fa  { left:  0px;}
.right-addon .fa { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

/* END LEFT/RIGHT ICON ADDON*/

/* SIDEBAR */

#self {

}
#self *{
    vertical-align: middle;
}
#self a strong {
    font-weight: lighter;
    font-size: 20px;
    color: #000;
}
#self ul li {
    position: relative;
}
#self ul i {
    font-size: 18px;
    margin: 6px 4px;
}
#self ul li .badge {
    background-color: #A01127;
    color: #FFF;
    position: absolute;
    top: -4px;
    right: -5px;
}

#searchForm i {
    color: #666;
}

.calendar-heading {
    font-weight: lighter;
    font-size: 16px;
}
.calendar-heading a {
    color: #000;
}
.calendar thead tr th {
    text-transform: uppercase;
    text-align: center;
    font-size: 10px;
}
.calendar tbody tr td {
    text-align: center;
}
.calendar tbody tr td a {
    display: block;
}

.item .date {
    position: relative;
    top: -30px;
}
.item .date a {
    color: #222;
    text-decoration: none;
}
.item .date span {
    display: block; 
    text-align: center;
}
.item .date .monthday {
    font-size: 58px;
    font-weight: lighter;
    line-height: 50px;
}
.item .date .hour {
    font-size: 14px;
}

.row.itemActions div {
    padding-right: 0;
    padding-left: 0;
}

@media (max-width: 767px) { /* Small devices */
    .item .date {
        position: relative;
        top: auto;
        padding: 15px 0 20px;
        border-top: 1px solid #CCC;
    }
}