
img.smiley {
    vertical-align: text-bottom;
}
.headerimg {
    height: 150px;
    background-size: cover;
    background-position: center center;    
    margin-top: -20px;
}
.sidebardisplay {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    z-index: 1020;
    padding: 18px 0;
    margin: 0;
    cursor: pointer;
}
.btn.post-content {
    color: #0275d8;
    background-color: transparent;
    border-color: #0275d8;
}
.btn.post-content:hover, .btn.post-content:active, .btn.post-content:focus {
    color: #fff;
    background-color: #0275d8;
    border-color: #0275d8;
}
.categories {
    margin-top: 20px;
    background-color: #f8f8f8;
    padding: 10px;
}
.categories .lead {
    margin-bottom: 10px;
    margin-top: -8px;
}
.categories .lead i {
    display: none;
}
.categories ul {
    font-size: 16px;
}
.panel.panel-highlight {
    border-color: #DDD;
}
.panel.panel-highlight .panel-heading {
    background-color: #EEE;
    border-bottom: 1px solid #DDD;
}
.well-link {
    background-color: #FFF;
    margin-top: 10px;
}
.navbar {
    z-index: auto;
}
.navbar-default .web_logo {
    display: inline;
}
.navbar-default a.navbar-brand {
    font-weight: bold;
    font-size: 22px;
    height: auto;
}
.navbar-default a.navbar-brand * {
    vertical-align: middle;
    max-height: 24px;
    color: #555;
}
.navbar-default .userProfile a {
    padding: 7px 15px;
}
.navbar-form {
    padding-right: 0;
}
.navbar-nav li {
    position: relative;
}
.navbar-nav li .badge {
    background-color: #A01127;
    color: #FFF;
    position: absolute;
    top: 5px;
    right: 0;
}

#mainTabs li a {
    color: #666;
}
#mainTabs li a:hover, #mainTabs li a:focus {
    background-color: transparent;
    border-color: transparent;
    color: #000;
}
#mainTabs li.active a {
    border-width: 0;
    border-bottom: 2px solid #222;
    color: #111;
}

#searchForm {
    margin-top: 20px;
}
#searchForm i {
    color: #777;
}
.btn.post-content, .btn.btn-head {
    margin-top: 20px;
}

.login p {
    margin-bottom: 13px;
}
.date {
    padding-bottom: 15px;
}
.date a {
    color: #222;
    text-decoration: none;
}
.date span {
    display: block; 
    text-align: center;
}
.date .monthday {
    font-size: 58px;
    font-weight: lighter;
    line-height: 50px;
}
.date .hour {
    font-size: 14px;
}

/* LEFT/RIGHT ICON ADDON */
/* enable absolute positioning */
.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .fa {
  position: absolute;
  top: 1px;
  padding: 8px;
  cursor: pointer;
  /*pointer-events: none;*/
}

/* align icon */
.left-addon .fa  { left:  0px;}
.right-addon .fa { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

/* END LEFT/RIGHT ICON ADDON*/

/* ITEMS */
.item {
    border-bottom: 1px solid #ccc;
    padding-bottom: 40px;
    margin-top: 20px;
}
.item.full {
    border: none;
}
.item.full h2 a {
    color: #000;
    text-decoration: none;
}
.item.full p {
    font-size: 16px;
}
.item .panel-title {
    font-size: 24px;
    position: relative;
    line-height: 24px;
    margin: 15px 0 10px;
}
.item.editable .panel-heading .panel-title {
    padding-right: 70px;
}
.panel-heading .panel-title .pull-right {
    font-size: 14px;
    position: absolute;
    right: 0px;
    top: 0;
    padding: 5px;
}
.item .panel-body {
    padding-bottom: 0;
    word-wrap: break-word;
}
.item .staticmap {
    margin-bottom: -30px;
    min-height: 60px;
}
.item .mapprofile {
    width: 100%;
    max-width: 500px;
    height: 30px;
    opacity: .85;
    transition: opacity .35s ease-in;
}
.item:hover .mapprofile {
    opacity: 1;
}
.item .properties {
    margin-top: -10px;
    color: #555;
    font-size: 16px;
}
.item #mapproperties .properties {
    margin-top: 0;
}
.item.full .properties li {
    margin-top: 10px;
}
.item .properties strong {
    font-weight: 500;
}
.item .event-date {
    font-size: 18px;
    font-weight: 200;
}
.item .event-date span {
    padding-right: 10px;
    white-space:nowrap;
}
.item .event-date i {
    color: #333;
}
.item .details {
    font-size: 12px !important;
    color: #999;
    overflow: hidden;
}
.item .details img {
    margin-right: 10px;
}
.item .details .username {
    line-height: 20px;
    font-size: 14px;
}
.item .details .dateandcat {
    padding-left: 2px;
    line-height: 20px;
}
.item .itemActions {
    padding: 10px 0;
}
.item .itemActions a, .item .itemActions .like span {
    display: inline-block;
    margin-right: 15px;
    color: #555;
    font-weight: bold;
}
.item .preview {
    padding-bottom: 15px;
}
.item .thumbnails {
    padding-right: 15px;
}
.item .thumbnails.fullview {
    border-top: 1px solid #CCC;
    padding-top: 15px;
}
.item .thumbnails div {
    margin-bottom: 15px;
    padding-right: 0;
}
.item .thumbnails img.current {
    padding: 2px;
    background-color: #FFF;
    opacity: .3;
    border: 1px solid #000;
}
.item .thumbnails div.more {
    position: absolute;
    left: 0;
    width: 100%;
    top: 0;
    height: 100%;
    background-color: rgba(0,0,0,.4);
    text-align: center;
    color: #FFF;
    font-size: 30px;
    font-weight: bold;
}
.item .thumbnails div.moreHandler {
    position: relative;
}
.item .row.itemActions div {
    padding-right: 0;
    padding-left: 0;
}
.item .panel-footer {
    color: #444;
}
.item.well {
    padding: 10px 15px;
    margin-bottom: 10px;
}
.item.well h4 {
    margin: 0;
}
.item.well h4 a {
    color: #000;
}
.item.well h4 a i {
    color: #999;
}
.item.well .dateandcat {
    font-size: 12px;
    color: #999;
    overflow: hidden;
    float: right;
    padding-left: 2px;
    line-height: 20px;
}
.related {
    margin-bottom: 20px;
}
.related li h4, .related li p {
    display: inline-block;
    margin: 0;
}
.related li p {
    color: #666;
    padding-left: 5px;
}
.micro {
    overflow: hidden;
    margin: 0 0 10px 0;
    padding: 0 0 10px;
    border-bottom: 1px solid #EEE;
}
.micro:last-child {
    border-bottom: none;
    margin: 0;
    padding: 0;
}
.micro h4 {
    margin: 0 10px 0 0;
    padding: 0;
    border: none;
    float: left;
}
.micro p {
    color: #888;
}
.micro .details {
    color: #444;
    font-size: 12px;
    margin: 0;
}
.micro .thumbnails {
    clear: both;
    margin: 25px 0 8px;
}
.micro .btn.file {
    font-size: 12px;
    white-space: inherit;
    padding: 4px;
    text-align: left;
}
.micro .btn .fa {
    border-left: 1px solid #ddd;
    padding-left: 2px;
}
.microdate {
    margin-bottom: 10px;
}
.microdate .hour {
    font-size: 12px;
}
.microdate strong {
    font-size: 18px;
    line-height: 18px;
}
.microdate small {
    vertical-align: text-bottom;
}
.micro .microdate .panel-body {
    padding: 0;
}
.micro h4 a {
    display: block;
}

.comments .media .pull-left img {
    width:40px;
}
.comments .comment img {
    margin-top: 4px;
}
.comments .username {
    font-size: 14px;
}
.comments .media textarea {
    font-size: 16px;
    padding: 8px 12px;
    max-height: 40px;
    transition: max-height 1.2s;
    border-color: #eee;
    box-shadow: none;
}
.comments .media .removeComment {
    display: none;
    color: darkred;
}
.comments .media:hover .removeComment {
    display: inline;
}

.assistances .attendee {
    color: #000;
    font-weight: bold;
}
.assistances .btn.btn-default {
    border-color: #0275d8;
}


.bigcalendar {
    font-size: 18px;
    margin-top: 20px;
    padding: 5px;
    background-color: #f8f8f8;
}
.bigcalendar .calendar-heading {
    font-size: 22px;
}
.calendar-heading a {
    color: #000;
}
.calendar {
    background-color: #FFF;
    margin-bottom: 0;
}
.calendar thead tr th {
    text-transform: uppercase;
    text-align: center;
    font-size: 16px;
    color: #666;
}
.calendar tbody tr td {
    text-align: center;
    border: 1px solid #eee;
}
.calendar tbody tr td a {
    display: block;
}
.calendar tbody tr td.today {
    background-color: #337ab7;
    color: #fff;
}
.calendar tbody tr td.today a {
    color: #FFF;
    font-weight: bold;
}

.itemForm .nav {
    border-bottom: 1px solid #EEE;
}
.itemForm .nav li a {
    color: #888;
    background-color: transparent;
}
.itemForm .nav li.active a {
    background-color: #FFF;
    color: #000;
}
.itemForm .nav li a:hover, .itemForm .nav li.active a:hover, .itemForm .nav li.active a:focus {
    color: #000;
    background-color: transparent;
}
.itemForm form {
    padding: 10px;
}
.itemForm .hidable {
    max-height: 3000px;
    transition: max-height 1.2s;
    margin: 8px 0;
}
.itemForm .row, .form-group div {
    margin-bottom: 0 !important;
}
.itemForm.compressed .hidable {
    max-height: 0;
    overflow: hidden;
    margin: 0;
}
.itemForm.compressed textarea.form-control {
    border-width: 0;
    box-shadow: none;
    margin: 0;
}
.itemForm textarea {
    height: 200px;
    transition: height .2s;
}
.itemForm.compressed textarea {
    height: 34px;
}
.itemForm {
    max-height: 30000px;
}
.itemForm .hiddenForm {
    max-height: 0;
    padding: 0;
    overflow: hidden;
    transition: max-height 1.2s;
} 
.itemForm .form-group {
    overflow: hidden;
}
.category {
    margin-top: 30px;
}

#FUaddon textarea {
    margin: 5px 0;
    height: auto;
}

.nextevents {
     margin: 0 0 25px;
 }
.relations {
    margin: -14px 0 20px;
}
.relations .panel, .nextevents .panel {
    margin-bottom: 6px;
}

.fullimage a {
    height: 480px;
    padding: 0 10px;
    color: #CCC;
    line-height: 480px;
}
.fullimage a {
    opacity: .1;
    transition: opacity .5s;
}
.fullimage:hover a {
    opacity: .2;
}
.fullimage:hover a.active {
    opacity: .6;
}
.fullimage a.active:hover {
    opacity: 1;
}

.dropdown-menu>li>a {
    padding: 8px 20px;
}
#mapproperties {
    background-color: #eee;
    padding: 10px;
    height: 470px;
    overflow-y: auto;
}
#map .control {
    background-color: #FFFFFF;
    margin: 6px -5px 0 0;
    padding: 1px 4px;
    cursor: pointer;
}
#map .control.big {
    margin-right: 5px;
    font-size: 15px;
    background-color: rgba(255,255,255,.7)
}
#map.fullscreen {
    background-color: #E5E3DF;
    bottom: 170px;
    height: auto !important;
    left: 220px;
    overflow: hidden;
    position: fixed !important;
    right: 0;
    top: 0;
    width: auto;
    z-index: 1100;
}
#chart.fullscreen {
    bottom: 0;
    height: 200px;
    left: 220px;
    right: 0;
    overflow: hidden;
    position: fixed !important;
    width: auto;
    z-index: 1100;
}
#mapproperties.fullscreen {
    top: 0;
    width: 220px;
    left: 0;
    overflow-y: auto;
    position: fixed !important;
    height: auto;
    bottom: 0;
    z-index: 1100;
}
.mapcontrols .btn {
    margin: 0 0 5px 5px;
}

.profileHeader img {
    margin: 25px 10px 20px 0;
}
.profileHeader div {
    margin: 0 0 20px 0;
}

.relations h4 {
    margin-top: 0;
}
.relations p {
    font-size: 14px;
    margin-bottom: 4px;
}
.relations p.details {
	font-size: 12px;
	margin-top: 3px;
	clear: both;
}
.relations .col-xs-9.col-lg-10 {
    padding-left: 0;
}
.relations .date {
    padding-bottom: 0;
}

.map {
    border: 1px solid #DDD;
    margin: 0 auto;
}
.profile img {
    height: 70px;
    width: 100%;
    float: right;
}
.item .dropdown.pull-right{
        margin-left: 15px;
}
.item .dropdown-menu {
    margin: 0;
}

.messages {
    word-break: break-word;
}
.messages img {
    margin-right: 15px;
}

.rank .progress {
    margin-bottom: 5px;
}
.rank.table tbody tr td {
    padding: 10px 2px 10px 5px;
}
.rank .self{
    font-weight: bold;
}

.list-group-item.active a {
    color: #FFF;
    text-decoration: underline;
}
.list-group-item.active a i {
	color: firebrick;
}
.list-group-item.active small {
    color: #EEE;
}
.list-group-item .pull-right {
    margin-left: 10px;
}

.contactFormField {
    padding: 5px 8px 15px;;
    border-left: 3px solid #EEE;
    background-color: #FAFAFA;
    margin-bottom: 10px;
    position: relative;
}
.contactFormField .fieldNumber {
    position: absolute;
    font-size: 30px;
    left: -50px;
    top: 0px;
}
.contactFormField span.pull-right {
    cursor: pointer;
}

.jumbotron a.btn {
    margin: 3px;
}

.footer {
    border-top: 1px solid #CCC;
    color: #777;
    padding: 10px;
    margin: 20px 0;
    font-style: italic;
}
.footer a.deporde {
    color: #222;
    font-style: normal;
    white-space: nowrap;    
}
.footer a.deporde img {
    vertical-align: middle;
    width: 16px;
}
.footer a.deporde span {
    vertical-align: middle;
    font-size: 22px;
    line-height: 16px;
    font-family: "Roboto Slab";
}

#toolbar {
    margin-bottom: 5px;
}
#toolbar .linkBox {
    margin: 4px 0;
}
.btn.btn-default.wysihtml5-command-active {
    box-shadow: inset 0 1px 6px rgba(0, 0, 0, 0.2);
    background: #eee;
}

form .row, form .col-xs-1, form .col-xs-2, form .col-xs-3, form .col-xs-4, form .col-xs-5, form .col-xs-6, form .col-xs-7, form .col-xs-8, form .col-xs-9, form .col-xs-10, form .col-xs-11, form .col-xs-12, form .col-sm-1, form .col-sm-2, form .col-sm-3, form .col-sm-4, form .col-sm-5, form .col-sm-6, form .col-sm-7, form .col-sm-8, form .col-sm-9, form .col-sm-10, form .col-sm-11, form .col-sm-12, form .col-md-1, form .col-md-2, form .col-md-3, form .col-md-4, form .col-md-5, form .col-md-6, form .col-md-7, form .col-md-8, form .col-md-9, form .col-md-10, form .col-md-11, form .col-md-12, form .col-lg-1, form .col-lg-2, form .col-lg-3, form .col-lg-4, form .col-lg-5, form .col-lg-6, form .col-lg-7, form .col-lg-8, form .col-lg-9, form .col-lg-10, form .col-lg-11, form .col-lg-12 {
    margin-bottom: 6px;
}

@media (max-width: 1200px) { /* Medium devices */
    .headerimg {
        height: 120px;
    }
    .navbar-nav.navbar-right {
        margin-right: -15px;
    }
}
@media (max-width: 992px) { /* Small devices */
}
@media (max-width: 767px) { /* Extra Small devices */
    .navbar .container {
        padding-left: 0;
    }
    .navbar-default {
        padding: 5px;
    }
    .navbar-default a.navbar-brand {
        margin-left: 15px;
        padding-right: 40px;
        font-size: 20px;
    }
    .navbar-form {
        border-width: 0;
        margin: 0;
        padding-right: 15px;
    }
    .navbar-nav {
        padding: 10px 15px;
    }
    .itemForm .nav li a {
        padding-right: 5px;
    }
    .itemForm.compressed form {
        display: none;
    }
    .contactFormField .fieldNumber {
        position: relative;
        font-size: inherit;
        left: auto;
        top: auto;
    }
    .categories .lead {
        cursor: pointer;
        margin-bottom: 5px;
        margin-top: 3px;
    }
    .categories .lead i {
        display: inline-block;
    }
    #mapproperties {
        height: auto;
        overflow-y: visible;
    }
    .bigcalendar .calendar-heading {
        font-size: 16px;
    }
    .calendar thead tr th {
        font-size: 14px;
    }
    .item .panel-heading .panel-title {
        font-size: 20px;
    }
    .item .date {
        padding: 15px 0 20px;
        border-top: 1px solid #DDD;
    }
    .micro .date span {
        font-size: 12px;
    }
    .micro .date .monthday {
        font-size: 30px;
        line-height: 30px;
    }
    .micro .date .hour {
        font-size: 11px;
    }
    .item .mapcaption {
        padding: 0 10px 10px;
    }
    .profileHeader .pull-left, .profileHeader .nav-pills>li {
        float: none !important;
    }
}