body {
    background-color: #FBFDFE;
}
a {
    color: #009BDB;
}

h2 {
    color: #1383A0;
}

.btn-primary{
    background-color: #009BDB;
    border-color: #1383A0;
}

.navbar-default {
    background-color: #1383A0;
}
.navbar-default a.navbar-brand {
    color: #FFF;
}
.navbar-default a.navbar-brand:hover {
    color: #B2E0EA;
} 

.sidebar a {
    color: #111;
}

#self ul a i {
    color: #333;
}
#self ul a:hover i {
    color: #1383A0;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
    background-color: #1383A0;
}
.calendar tbody tr td.active {
    background-color: #009BDB;
}
.calendar tbody tr td.active a {
    color: #FFF;
}
.calendar tbody tr td.today a {
    color: #009BDB;
}

.sidebar .calendar-heading i {
    color: #009BDB;
}

.panel-primary .panel-heading {
    background-color: #FFF;
    color: #333;
}
.panel-default .panel-heading {
    background-color: #FFF;
}
.panel-heading .panel-title .pull-right {
    font-size: 14px;
    position: absolute;
    right: 0px;
    top: 0;
    padding: 5px;
}

.item .details {
    font-size: 12px;
    color: #999;
}
.item .well {
    border-width: 1px 0 0;
    background-color: #FFF;
    border-radius: 0;
}
.item .itemActions {
    border-top: 1px solid #CCC;
    padding: 12px 0;
    background-color: #F1F8FD;
}
.item .itemActions a {
    color: #111;
}

.item .itemActions i {
    color: #009BDB;
}
.item .itemActions a i {
    color: #999;
}

.item .properties {
    padding: 0;
    border-top: 1px solid #DDD;
    margin-bottom: 0;
}
.item .properties li {
    padding: 10px 0;
}
.item .properties li {
    border-right: 1px solid #DDD;
}
.item .properties li:last-child {
    border: none;
}

.item .panel-footer {
    background-color: #FFF;
    position: relative;
    top: -2px;
}
