{% extends '::frontend.html.twig' %}

{% block title %}Alertas{% endblock %}

{% block article %}

<h2>Alertas</h2>

{% if notifications | length > 0 %}
    {% if not notifications[0].dismiss %}
        <a href="{{ path('userNotificationDismissAll') }}" class="btn btn-primary btn-block">Marcar todas como leídas <i class="fa fa-check"></i></a><br>
    {% endif %}

    <ul class="list-group" id="notificationstream">
        {% for notification in notifications %}
           {% include 'ColectaUserBundle:Notification:notification.html.twig' with {'notification': notification} %}
        {% endfor %}
    </ul>
    
    <div style="text-align:center;margin-bottom: 20px;"><button onclick="loadMore()" class="btn btn-default" id="loadMore">Ver más <i class="fa fa-arrow-down"></i></button></div>
{% else %}
    <p class="lead">No tienes ninguna alerta</p>
{% endif %}

{% endblock %}  

{% block javascripts %}
<script>
    var currentpage = 0;
    var loading = 0;
    
    function loadMore() {
        if(loading) return;
        loading = 1;
        var prevtext = $('#loadMore').html();
        $('#loadMore').html('<i class="icon-refresh icon-spin"></i> Cargando…');
        
        $.getJSON((currentpage +1), function(data) {
                for(var i = 0; i < data.length; i++) {
                    $('#notificationstream').append(data[i]);
                } 
                
                if(data.length) {
                    currentpage++;
                } else {
                    $('#notificationstream').append('<li class="list-group-item"><p class="lead" style="text-align:center">No hay más alertas</p></li>');
                    $('#loadMore').hide();
                }
                
                loading = 0;
                $('#loadMore').html(prevtext);
        });
    } 
</script>
{% endblock %}