{% extends '::frontend.html.twig' %}

{% block article %}

<div class="title-block">
    <h2>Notificaciones</h2>
</div>

{% for notification in notifications %}
    <p class="{% if not notification.dismiss %}alert{% else %}well{% endif %} alert-block">{% if not notification.dismiss %}<a onclick="" href="{{ path('userNotificationDismiss', {'id' : notification.id}) }}" class="close pull-right">×</a>{% endif %}{{ notification.text | itemlinkable | raw }}<br><small class="muted">{% include 'ColectaItemBundle:Default:timeago.html.twig' with { 'date': notification.date } only %}</small></p>
{% else %}
<p>No tienes ninguna notificación</p>
{% endfor %}

{% endblock %}

{% block navigation %}
    {% include '::navigation.html.twig' with {'navigation': 'notifications'} %}
{% endblock %}