{% extends '::frontend.html.twig' %}

{% block article %}

<div class="title-block">
    <h2>Notificaciones</h2>
</div>

{% for notification in notifications %}
    {% include 'ColectaUserBundle:Notification:notification.html.twig' with {'nitification': notification} %}
{% else %}
<p>No tienes ninguna notificación</p>
{% endfor %}

{% endblock %}

{% block navigation %}
    {% include '::navigation.html.twig' with {'navigation': 'notifications'} %}
{% endblock %}