{% extends '::frontend.html.twig' %}

{% block files 'active' %}

{% block javascripts %}  
    <script src="/js/filepreview.js"></script>
    <script>        
        {% include 'ColectaItemBundle:Default:categoryform.js.twig' %}
        
        function toggleFolderCreate() {
            var button = $('#folderCreateButton');
            if(button.hasClass('newfolder')) {
                button.removeClass('newfolder').addClass('selectfolder');
                button.html('<i class="icon-th-list"></i> Seleccionar');
                $('#FileFolder').hide();
                $('#NewFolder').show().focus();
            } else {
                button.removeClass('selectfolder').addClass('newfolder');
                button.html('<i class="icon-plus-sign"></i> Nueva carpeta');
                $('#FileFolder').show();
                $('#NewFolder').hide().attr('value','');
            }
        }
    </script>
{% endblock %}

{% block article %}

<div class="title-block">
    <h2>Editar Archivo</h2>
</div>

{% include 'ColectaFilesBundle:File:form.html.twig' with { 'categories': categories, 'item': item, 'formaction': path('ColectaFileEdit', {'slug':item.slug})} %}

{% endblock %}