{% extends '::frontend.html.twig' %}

{% block files 'active' %}

{% block javascripts %}  
    <script src="/js/filepreview.js"></script>
    <script>        
        {% include 'ColectaItemBundle:Category:categoryform.js.twig' %}
        
        function toggleFolderCreate() {
            var button = $('#folderCreateButton');
            if(button.hasClass('newfolder')) {
                button.removeClass('newfolder').addClass('selectfolder');
                button.html('<i class="icon-th-list"></i> Seleccionar');
                $('#Folder').hide();
                $('#NewFolder').show().focus();
            } else {
                button.removeClass('selectfolder').addClass('newfolder');
                button.html('<i class="icon-plus-sign"></i> Nueva carpeta');
                $('#Folder').show();
                $('#NewFolder').hide().attr('value','');
            }
        }
    </script>
{% endblock %}

{% block article %}

<div class="title-block">
    <h2>Editar {{ item.name }}<br><span><a href="{{ path('ColectaFileView', {'slug':item.slug}) }}"><i class="icon-double-angle-left"></i> Volver al archivo</a></span></h2>
</div>

{% include 'ColectaFilesBundle:File:form.html.twig' with { 'categories': categories, 'item': item, 'formaction': path('ColectaFileEdit', {'slug':item.slug}),'firstwrite':0} %}

{% endblock %}