{% extends '::frontend.html.twig' %}

{% block title %}Editar {{ item.name }} | Archivos{% endblock %}

{% block article %}

	{% if item.canEdit(app.user) %}
	    <h2>Editar {{ item.name }}</h2>
	
		{% include 'ColectaFilesBundle:File:form.html.twig' with { 'categories': categories, 'item': item, 'formaction': path('ColectaFileEdit', {'slug':item.slug}),'firstwrite':0} %}
	{% endif %}
	
{% endblock %}

{% block stylesheets %}
    {% if rich_text_editor %}
        <link rel="stylesheet" href="/css/summernote.css" />
    {% endif %}
{% endblock %}

{% block javascripts %}  
    {% if rich_text_editor %}
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/summernote.min.js"></script>
    {% endif %}
    
    <script src="/js/filepreview.js"></script>
    <script>        
        {% include 'ColectaItemBundle:Category:categoryform.js.twig' %}
        
        function toggleFolderCreate() {
            var button = $('#folderCreateButton');
            if(button.hasClass('newfolder')) {
                button.removeClass('newfolder').addClass('selectfolder');
                button.html('<i class="far fa-th-list"></i> Seleccionar');
                $('#Folder').hide();
                $('#NewFolder').show().focus();
            } else {
                button.removeClass('selectfolder').addClass('newfolder');
                button.html('<i class="far fa-plus"></i> Nueva carpeta');
                $('#Folder').show();
                $('#NewFolder').hide().attr('value','');
            }
        }

    {% if rich_text_editor %}
        $(document).ready(function() {
            $('#FileText').summernote({
                height: 180,
                toolbar: [
                //['style', ['style']], // no style button
                ['style', ['bold', 'italic', 'underline', 'clear']],
                //['fontsize', ['fontsize']],
                //['color', ['color']],
                ['para', ['ul', 'ol']],
                //['height', ['height']],
                ['insert', [/*'picture',*/ 'link']], // no insert buttons
                //['table', ['table']], // no table button
                ['help', ['help']] //no help button
                ]
            });
        });
        
        var postForm = function() {
            var content = $('textarea[name="text"]').html($('#FileText').code());
        }
    {% endif %}
    </script>
{% endblock %}