<div class="row itemCategory">
    <div class="col-6 col-lg-8">
        <select name="category" class="form-control Category">
        {% for category in categories %}
            <option value="{{ category.id }}"{% if category.id == selected %} selected="selected"{% endif %}>{{ category.name }}</option>
        {% endfor %}
        </select>
        <input class="form-control NewCategory" type="text" name="newCategory" style="display:none" placeholder="Nombre">
    </div>
    {% if app.user.role.categoryCreate %}
    <div class="col-6 col-lg-4">
        <button class="btn btn-light btn-block newcategory categoryCreateButton" type="button" onClick="toggleCategoryCreate(this)"><i class="far fa-plus"></i> Nueva categoría</button>
    </div>
    {% endif %}
</div>