<div class="row">
    <div class="col-sm-4">
        <select id="Category" name="category" class="form-control">
        {% for category in categories %}
            <option value="{{ category.id }}"{% if category.id == selected %} selected="selected"{% endif %}>{{ category.name }}</option>
        {% endfor %}
        </select>
        <input class="form-control" type="text" id="NewCategory" name="newCategory" style="display:none" placeholder="Nombre">
    </div>
    <div class="col-sm-4">
        <button class="btn btn-default newcategory" type="button" onClick="toggleCategoryCreate()" id="categoryCreateButton"><i class="fa fa-plus"></i> Nueva categoría</button>
    </div>
</div>