{% extends '::frontend.html.twig' %}

{% block categories 'active' %}

{% block article %}

<div class="title-block">
    <h2>Categorías</h2>
</div>

<div class="categories">
    {% for category in categories %}
        <div class="pull-right">
            {% set typeicon = {'posts':'file','events':'calendar','routes':'globe','places':'map-marker','files':'folder-open'}%}
            {% for type, amount in category.sortedTypes %}
                {% if amount > 0 %}
                    {% if loop.first %}<span style="font-size:16px;">{% elseif loop.index > 3 %}<span style="font-size:12px;">{% else %}<span> | {% endif %}
                        <i class="icon-{{ typeicon[type] }}"></i> {{ amount }} 
                    </span>
                {% endif %}
            {% endfor %}
        </div>
        
        <h2 class="main">
            <a href="{{ path('ColectaCategoryView',{'slug':category.slug}) }}">
                {% set slv = app.session.get('sinceLastVisit') %}
                <i class="icon-expand-alt"{% if slv and slv != 'dismiss' and slv < category.lastchange%}style="color:orange"{% endif %}></i> 
                {{ category.name }} 
            </a>
        </h2>
    {% endfor %}
</div>
{% endblock %}