{% extends '::frontend.html.twig' %}

{% block title %}Categorías{% endblock %}

{% block article %}

{% include '::navigation.html.twig' with {'active': 'category'} %}

<h2>Categorías</h2>

{% set slv = app.session.get('sinceLastVisit') %}

<ul class="list-group">
    {% for category in categories %}
        <a href="{{ path('ColectaCategoryView',{'slug':category.slug}) }}" class="list-group-item clearfix">
            <div class="row">
            <div class="col-sm-7 col-xs-12">
                {% if slv and slv != 'dismiss' and slv < category.lastchange%}<i class="fa fa-asterisk" style="color:orange"></i>{% endif %}
                <strong>{{ category.name }}</strong>
            </div>
            <div class="col-sm-5 col-xs-12">
            {% for type, amount in category.sortedTypes %}
                {% if amount > 0 %}
                    {% if loop.first %}<span style="font-size:16px;">{% elseif loop.index > 3 %}<span style="font-size:12px;">{% else %}<span> | {% endif %}
                        <i class="fa fa-{{ itemIcons[type] }}"></i> {{ amount }} 
                    </span>
                {% endif %}
            {% endfor %}
            </div>
            </div>
        </a>
    {% endfor %}
</ul>
{% endblock %}