{% if app.user %}
<div class="well">
    <form action="" method="get" onSubmit="searchLocation(); return false;">
        <div class="alert alert-info" id="PlaceInfo1">
            <i class="icon-info-sign"></i> <strong>Información: </strong> Escribe el nombre del lugar y pulsa para buscar en el mapa.
        </div>
        
        <div class="input-append">
            <input class="span4" id="PlaceMapSearch" size="16" type="text">
            <button class="btn btn-primary" type="button" onClick="searchLocation();"><i class="icon-search" id="mapSearchIcon"></i> Buscar</button>
        </div>
    </form>
    
    <ul aria-labelledby="dropdownMenu" role="menu" style="position: static; float: none; display: block;margin-bottom: 20px;" class="dropdown-menu hidden" id="mapResults"></ul>
    
    <div id="map"></div>
    
    <div class="alert alert-info hidden" id="PlaceInfo2">
        <i class="icon-info-sign"></i> <strong>Información: </strong> Haz click en el mapa para cambiar la localización.
    </div>
          
    <form onSubmit="if(document.getElementById('map').className != 'active'){searchLocation(); return false;}" action="{{ path('ColectaPlaceCreate') }}" method="POST" class="form-horizontal hidden" id="PlaceForm">
        <hr>
        
        <fieldset>
          <div class="control-group">
            <label class="control-label" for="PlaceName">Nombre del lugar</label>
            <div class="controls">
              <input type="text" class="input-xlarge" id="PlaceName" name="name">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="PlaceDescription">Descripción</label>
            <div class="controls">
              <textarea class="input-xlarge" id="PlaceDescription" name="text" rows="3"></textarea>
            </div>
          </div>
          
          {% render 'ColectaItemBundle:Category:formlist' with {'selected':0} %}
          
          <div class="form-actions">
            <input type="hidden" name="latitude" id="PlaceLatitude">
            <input type="hidden" name="longitude" id="PlaceLongitude">
            <button class="btn disabled" disabled="disabled">Guardar como borrador</button>
            <button type="submit" class="btn btn-primary">Publicar ahora</button>
          </div>
        </fieldset>
    </form>
</div>

{% else %}
<div class="alert">Tienes que <a href="{{ path('userLogin') }}">iniciar sesión</a></div>
{% endif %}