{% extends '::frontend.html.twig' %}

{% block article %}
    <h2>{{ item.name }}</h2>
    <img src="http://maps.google.com/maps/api/staticmap?center={{ item.latitude ~ ',' ~ item.longitude }}&zoom=13&size=500x330&maptype=roadmap&markers=color:blue%7C{{ item.latitude ~ ',' ~ item.longitude }}&sensor=false" width="500" height="330">

    <p>{{ item.description | nl2br }}</p>
{% endblock %}