{% extends '::frontend.html.twig' %}

{% block title %}Lugares{% endblock %}

{% block article %}

    <h2>Lugares{% if page > 1 %} <small>página {{page}}</small>{% endif %}</h2>

    {% for item in items %}    
        {% set path = 'Colecta' ~ item.type ~ ':mini.html.twig' %}
        {% set path = path | replace({'/':'Bundle:'}) %}
        {% include path with { 'item': item } only %}
    {% else %}
         <div class="monocontent text-center">
            <i class="far fa-{{ itemIcons['Activity/Place'] }} fa-4x"></i>
            <p class="lead">Los lugares que se añadan aparecerán aquí.</p>
        </div>
    {% endfor %}
    
    {% if page > 1 or thereAreMore %}
        <ul class="pager">
          <li class="previous{% if page == 1 %} disabled{% endif %}">
            <a href="{% if page > 1 %}{{ path('ColectaPlacePage', {'page': page - 1 }) }}{% else %}{% endif %}">&larr; Anteriores</a>
          </li>
          <li class="next{% if not thereAreMore %} disabled{% endif %}">
            <a href="{% if thereAreMore %}{{ path('ColectaPlacePage', {'page': page + 1 }) }}{% else %}{% endif %}">Siguientes &rarr;</a>
          </li>
        </ul>
    {% endif %}

{% endblock %}