{% extends '::frontend.html.twig' %}

{% block places 'active' %}

{% block javascripts %}  
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script>
        var geocoder;
        var map;
        var marker;
        
        function searchLocation() {
            $('#mapSearchIcon').removeClass('icon-search').addClass('icon-refresh icon-spin');
            
            if(!geocoder) {
                geocoder = new google.maps.Geocoder();
            }
            
            var address = $('#PlaceMapSearch').val();
            
            $('#mapResults').addClass('hidden');
            
            geocoder.geocode( { 'address': address}, function(results, status) {
            
                if (status == google.maps.GeocoderStatus.OK) {
                    
                    if(results.length > 1) {
                        $('#mapResults').html('');
                        for(var i = 0; i < results.length; i++) {
                            $('#mapResults').append('<li id="mapResult'+(i + 1)+'"><a tabindex="-1" href="#result'+i+'" onClick="mapPosition(new google.maps.LatLng('+results[i].geometry.location.lat()+', '+results[i].geometry.location.lng()+'));$(\'#PlaceName\').val(\''+results[i].formatted_address+'\');$(\'#mapResults\').addClass(\'hidden\');return false;"> '+results[i].formatted_address+'</a></li>');
                        }
                        
                        $('#mapResults').removeClass('hidden');
                    } else {
                        mapPosition(results[0].geometry.location);
                        $('#PlaceName').val(results[0].formatted_address);
                    }
                    
                } else {
                    if(status == 'ZERO_RESULTS') {
                        alert('No hemos encontrado ningun sitio con esas palabras. \nPrueba de nuevo');
                    } else {
                        alert('Ha ocurrido un error: ' + status);
                    }
                }

                $('#mapSearchIcon').addClass('icon-search').removeClass('icon-refresh icon-spin');
            });
        }
        
        function mapPosition(position) { //google maps latlng object
            //If not active, create map
            if(! $('#map').hasClass('active')) {
                $('#map').addClass('active');
                map = new google.maps.Map(document.getElementById('map'), {zoom: 15,center:position, mapTypeId: google.maps.MapTypeId.TERRAIN, streetViewControl: false});
                google.maps.event.addListener(map, 'click', function(event) {
                    mapPosition(event.latLng);
                });
                
                $('#PlaceLatitude').val(position.lat());
                $('#PlaceLongitude').val(position.lng());
                
                $('#PlaceInfo1').addClass('hidden');
                $('#PlaceInfo2').removeClass('hidden');
                $('#PlaceForm').removeClass('hidden');
            } else {
                map.panTo(position);
                $('#PlaceLatitude').val(position.lat());
                $('#PlaceLongitude').val(position.lng());
            }
            
            if(!marker) {
                marker = new google.maps.Marker({
                    map: map,
                    position:position
                });
            } else {
                marker.setPosition(position);
            }
        }
        
    {% include 'ColectaItemBundle:Category:categoryform.js.twig' %}

    </script>
{% endblock %}

{% block article %}

<div class="title-block">
    <h2>Crear Lugar</h2>
</div>

{% include 'ColectaActivityBundle:Place:form.html.twig' with { 'categories': categories} %}

{% endblock %}