<div class="row">
    <div class="col-xs-6">
    	<p>distancia: <strong>{{ kmsSum }}km</strong></p> 
    	<p><i class="fa fa-caret-up text-success" style=""></i> {{ kmsSum - prev_kmsSum }}km <small class="text-muted">respecto a anterior</small></p>
    </div>
    <div class="col-xs-6">
    	<p>puntos: <strong>{{ pointsSum }}</strong></p> 
    	<p><i class="fa fa-caret-down text-danger"></i> {{ pointsSum - prev_pointsSum }} <small class="text-muted">respecto a anterior</small></p>
    </div>
</div>