{% extends '::intranet.html.twig' %}

{% block rank 'active' %}

{% block content %}  
    <div class="title-block">
        <h2>Ranking</h2>
    </div>
    
    <table class="table table-condensed table-hover">
    <thead><tr><th style="width: 100px;">Total</th><th style="width: 150px;">Nombre</th><th class="span7">Ranking</th></tr></thead>
    {% set maxkm = kms[users[0].id] %}
    {% for user in users %}
        <tr>
            <td>{{ kms[user.id] | number_format(1,'.',',') }} km</td>
            <td><a href="">{{ user.name }}</a></td>
            <td><div class="progress"><div class="bar" style="width: {{ (kms[user.id] / maxkm * 100) | number_format(1,'.',',') }}%;"></div></div></td>
        </tr>
    {% endfor %}
    </table>

{% endblock%}