{% extends '::frontend.html.twig' %}

{% block routes 'active' %}

{% block article %}

<div class="title-block">
    {% if app.user %} <a href="{{ path('ColectaRouteNew')}}" class="btn btn-small pull-right">Crear ruta <i class="icon-plus"></i></a> {% endif %}
    <h2><i class="icon-globe"></i> Rutas</h2>
</div>

{% for item in items %}
<div class="item">
    {% include 'ColectaItemBundle:Default:itemheader.html.twig' with { 'item': item } only %}
    
    {% set path = 'Colecta' ~ item.type ~ ':mini.html.twig' %}
    {% set path = path | replace({'/':'Bundle:'}) %}
    {% include path with { 'item': item } only %}
    
    {% include 'ColectaItemBundle:Comment:comments.html.twig' with { 'comments': item.comments, item: item } only %}
</div>
{% else %}
<h2>No hay ninguna ruta.</h2>
{% endfor %}

<ul class="pager">
  <li class="previous{% if page == 1 %} disabled{% endif %}">
    <a href="{% if page > 1 %}{{ path('ColectaRoutePage', {'page': page - 1 }) }}{% else %}{% endif %}">&larr; Anteriores</a>
  </li>
  <li class="next{% if not thereAreMore %} disabled{% endif %}">
    <a href="{% if thereAreMore %}{{ path('ColectaRoutePage', {'page': page + 1 }) }}{% else %}{% endif %}">Siguientes &rarr;</a>
  </li>
</ul>

{% endblock %}