{% extends 'ColectaItemBundle:Default:itemMicro.html.twig' %}

{% block thumbnail %}
    <a href="{{ path('ColectaRouteView', { 'slug': item.slug }) }}"><img class="img-responsive" src="{{ path('ColectaRouteMap',{id : item.id}) }}"></a>
{% endblock %}