{% extends '::frontend.html.twig' %}

{% block javascripts %}
    <script src="/js/jquery.min.js"></script>
{% endblock %}

{% block routes 'active' %}

{% block article %}

<div class="title-block">
    <h2>Crear Ruta</h2>
</div>

{% include 'ColectaActivityBundle:Route:form.html.twig' %}

{% endblock %}