{% extends '::frontend.html.twig' %}

{% block title %}Adjuntar{% endblock %}

{% block article %}

    <h2>Adjuntar</h2>
    
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Contenido al que se enlaza</h3>
        </div>
        <div class="panel-body">
        {% set path = 'Colecta' ~ item.type ~ ':micro.html.twig' %}
        {% set path = path | replace({'/':'Bundle:'}) %}
        {% include path with { 'item': item } only %}
        </div>
    </div>
    
    {% include 'ColectaItemBundle:Default:newItemForm.html.twig' with {'attachto':item.id} only %}

{% endblock %}

{% block javascripts %}
<script src="/js/userInteraction.js"></script>
<link rel="stylesheet" href="/css/cupertino/jquery-ui-1.10.1.custom.min.css" />
<script src="/js/jquery-ui-1.10.1.custom.min.js"></script>
<script>
    $('head').append('<link rel="stylesheet" href="/css/cupertino/jquery-ui-1.10.1.custom.min.css" type="text/css" />');
    
	$.datepicker.regional['es'] = {
		closeText: 'Cerrar',
		prevText: 'Anterior',
		nextText: 'Siguiente',
		currentText: 'Hoy',
		monthNames: ['Enero','Febrero','Marzo','Abril','Mayo','Junio',
		'Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'],
		monthNamesShort: ['Ene','Feb.','Mar','Abr','May','Jun',
		'Jul.','Ago','Sep','Oct','Nov','Dic'],
		dayNames: ['Domingo','Lunes','Martes','Miercoles','Jueves','Viernes','Sábado'],
		dayNamesShort: ['Dom.','Lun.','Mar.','Mie.','Jue.','Vie.','Sáb.'],
		dayNamesMin: ['D','L','M','X','J','V','S'],
		weekHeader: 'Sem.',
		dateFormat: 'dd-mm-yy',
		firstDay: 1,
		isRTL: false,
		showMonthAfterYear: false,
		yearSuffix: ''};
	$.datepicker.setDefaults($.datepicker.regional['es']);
	
    $( "#EventDateini" ).datepicker({onSelect : function(text,obj){
                $( "#EventDateend" ).val($( "#EventDateini" ).val());
                $( "#EventDateend" ).datepicker( "option", "minDate", $( "#EventDateini" ).datepicker( "getDate" ) );
    }});
    
    $( "#EventDateend" ).datepicker();
  
{% include 'ColectaItemBundle:Category:categoryform.js.twig' %}
    
</script>
{% endblock %}