<div class="control-group">
    <label class="control-label" for="Category">Categoría</label>
    <div class="controls">
      <select id="Category" name="category">
        {% for category in categories %}
            <option value="{{ category.id }}">{{ category.name }}</option>
        {% endfor %}
      </select><input type="text" id="NewCategory" name="newCategory" style="display:none">
      <button class="btn newcategory" type="button" onClick="toggleCategoryCreate()" id="categoryCreateButton"><i class="icon-plus-sign"></i> Nueva categoría</button>
    </div>
</div>