{% extends '::frontend.html.twig' %}

{% block title %}Inicio{% endblock %}

{% block article %}

    {% if app.user %} <a href="{{ path('ColectaItemNew')}}" class="btn btn-small btn-primary pull-right">Nueva publicación <i class="fa fa-plus"></i></a> {% endif %}
    <h2>Inicio{% if page > 1 %} <small>página {{page}}</small>{% endif %}</h2>

{% set shownItems = [] %}
{% set mainItemsToShow = [] %}

{% for item in items if not item.part %}
    {% set mainItemsToShow = mainItemsToShow | merge([item.id]) %}
{% endfor %}

{% for item in items if item.id not in shownItems %}
    {% if item.part %}
        {% for relitem in item.related %}
            {% if not relitem.part %}
                {% set item = relitem %}
            {% endif %}
        {% endfor %}
    {% endif %}    
        {% set path = 'Colecta' ~ item.type ~ ':mini.html.twig' %}
        {% set path = path | replace({'/':'Bundle:'}) %}
        {% include path with { 'item': item } only %}
        
        {% include 'ColectaItemBundle:Default:related.html.twig' with { 'items' : item.related } %}
    
    {% set shownItems = shownItems | merge([item.id]) %}
    {% for ri in item.related %}
        {% set shownItems = shownItems | merge([ri.id]) %}
    {% endfor %}
{% else %}
    <div class="monocontent text-center">
        <h3><i class="fa fa-paper-plane"></i> ¡Listos para empezar! </h3>
    </div>
{% endfor %}

{% if page > 1 or thereAreMore %}
    <ul class="pager">
      <li class="previous{% if page == 1 %} disabled{% endif %}">
        <a href="{% if page > 1 %}{{ path('ColectaDashboardPage', {'page': page - 1 }) }}{% else %}{% endif %}">&larr; Anteriores</a>
      </li>
      <li class="next{% if not thereAreMore %} disabled{% endif %}">
        <a href="{% if thereAreMore %}{{ path('ColectaDashboardPage', {'page': page + 1 }) }}{% else %}{% endif %}">Siguientes &rarr;</a>
      </li>
    </ul>
{% endif %}

{% endblock %}