{% extends '::frontend.html.twig' %}

{% block article %}
<h1>Listado de Items:</h1>

{% for item in items %}
    {% set path = 'Colecta' ~ item.type ~ ':mini.html.twig' %}
    {% set path = path | replace({'/':'Bundle:'}) %}
    {% include path with { 'item': item } only %}
{% endfor %}
{% endblock %}