<h1>Listado de Items:</h1>

{% for item in items %}
    {% set path = 'Colecta' ~ item.type ~ 'View.html.twig' %}
    {% set path = path | replace({'/':'Bundle:Default:'}) %}
    {% include path with { 'item': item } only %}
    {{ path }}<br>
{% endfor %}