{% set new = app.user and app.session.get('sinceLastVisit') and app.session.get('sinceLastVisit') != 'dismiss' and app.session.get('sinceLastVisit') < item.date %}
{% set itemTypeName = item.type | replace({'Item/':'','Files/':'','Colective/':'','Activity/':''}) %}

<div class="item_micro" onClick="window.location='{{ path('Colecta' ~ itemTypeName ~ 'View', { 'slug': item.slug }) }}'">
	<h4 class="h6 mb-0">
	{% block title %}
		<a href="{{ path('Colecta' ~ itemTypeName ~ 'View', { 'slug': item.slug }) }}"> {{ item.name }}</a>
	{% endblock %}
	</h4>
	
	{% block summary %}
	    {% if item.summary %}
	        <p>{{ item.summary }}{% if item.text | length > item.summary | length %} (...){% endif %}</p>
	    {% endif %}
	{% endblock %}
</div>