{% set new = app.user and app.session.get('sinceLastVisit') and app.session.get('sinceLastVisit') != 'dismiss' and app.session.get('sinceLastVisit') < item.date %}
{% set itemTypeName = item.type | replace({'Item/':'','Files/':'','Colective/':'','Activity/':''}) %}


<div class="item mt-3 mb-4 p-3 bg-white rounded box-shadow {% if new %}new{% endif %}" id="item{{ item.id}}">
    {% include 'ColectaItemBundle:Default:itemDetails.html.twig' with { item: item } only %}
    
    <h3 class="title">
        {% block itemTitle %}
            <a href="{{ path('Colecta' ~ itemTypeName ~ 'View', { 'slug': item.slug }) }}">{{ item.name }}</a>
        {% endblock %}
    </h3>
    
    {% block itemBody %}                
        {% block itemContent %}
            <p>{{ item.summary }}</p>
        {% endblock %}
    {% endblock %}
    
    {% include 'ColectaItemBundle:Default:related.html.twig' with { 'items' : item.relatedVisible(app.user) } %}
    
    {% block itemActions %}
        {% include 'ColectaItemBundle:Default:itemactions.html.twig' with { item: item } only %}
    {% endblock %}
    
    {% block itemFooter %}
        {% if app.user %} {# only show if user logged in #}
            <div class="comments">
                {% include 'ColectaItemBundle:Default:itemLikers.html.twig' with { 'item': item } only %}
                {% include 'ColectaItemBundle:Comment:comments.html.twig' with { 'comments': item.comments, 'item': item, 'collapse': 5 } only %}
            </div>
        {% endif %}
    {% endblock %}
</div>