{% set new = app.user and app.session.get('sinceLastVisit') and app.session.get('sinceLastVisit') != 'dismiss' and app.session.get('sinceLastVisit') < item.date %}
{% set itemTypeName = item.type | replace({'Item/':'','Files/':'','Colective/':'','Activity/':''}) %}

<div class="micro row{% if new %} new{% endif %}">
    <div class="col-xs-3 col-lg-2">
        {% block thumbnail %}
            
        {% endblock %}
    </div>
    <div class="col-xs-9 col-lg-10">
        {% block text %}
            <h4><a href="{{ path('Colecta' ~ itemTypeName ~ 'View', { 'slug': item.slug }) }}">{{ item.name }}</a></h4>
            {% if item.summary %}
                <p>{{ item.summary }}{% if item.text | length > item.summary | length %} (...){% endif %}</p>
            {% endif %}
        {% endblock %}
    </div>
</div>