<div class="itemActions">
    {# LIKE #}
    
    {% if app.user and item.userLikes(app.user) %}
        {% if item.likers | length > 1 %}
            <span><i class="icon-thumbs-up icon-large"></i> A {{ item.likers | length - 1 }} personas y a ti os gusta</span> 
        {% else %}
            <span><i class="icon-thumbs-up icon-large"></i> Te gusta</span>
        {% endif %}
    {% elseif app.user %}
        {% if item.likers | length > 0 %}
            <span>Le gusta a {{ item.likers | length }} personas</span> 
        {% endif %}
        
        <a href="{{ path('ColectaItemLike', {'slug':item.slug}) }}" title="Me gusta"><i class="icon-thumbs-up"></i> Me gusta</a>
    {% else %}
        
    {% endif%}
    
    {# EDIT #}
    {% if item.author == app.user %}
        <a href="{{ path('Colecta' ~ item.type | replace({'Item/':'','Files/':'','Colective/':'','Activity/':''}) ~ 'Edit', {slug:item.slug}) }}" title="Editar"><i class="icon-pencil icon-large"></i> Editar</a>
    {% endif %}
</div>