{% if app.user and item.userLikes(app.user) %}
        <span><i class="far fa-hand-peace"></i> Te gusta</span>
{% elseif app.user %}
    <a onclick="$('#itemLikes{{ item.id }}').load('{{ path('ColectaItemLike', {'slug':item.slug}) }}');return false;" href="{{ path('ColectaItemLike', {'slug':item.slug}) }}" title="Me gusta"><i class="far fa-thumbs-up"></i> Me gusta</a>
{% endif%}