{% extends '::frontend.html.twig' %}

{% block title %}Nueva publicación{% endblock %}

{% block article %}

    <h2>Nueva publicación</h2>
    
    {% if app.user and app.user.role.contribute %} 
    {% include 'ColectaItemBundle:Default:newItemForm.html.twig' %}
    {% endif %}

{% endblock %}

{% block stylesheets %}
    {% if app.user and app.user.role.contribute %} 
        {% if rich_text_editor %}
            <link rel="stylesheet" href="/css/summernote.css" />
        {% endif %}
        <link rel="stylesheet" href="/js/pickadate/themes/default.css" />
        <link rel="stylesheet" href="/js/pickadate/themes/default.date.css" />
        <link rel="stylesheet" href="/js/pickadate/themes/default.time.css" />
        <style>
        .form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
            cursor: pointer;
            background-color: #FFF;
        }
        </style>
    {% endif %}
{% endblock %}

{% block javascripts %}  
    {% if app.user and app.user.role.contribute %} 
        {% if rich_text_editor %}
            <script src="/js/summernote.min.js"></script>
        {% endif %}
        
        <script src="/js/pickadate/picker.js"></script>
        <script src="/js/pickadate/picker.date.js"></script>
        <script src="/js/pickadate/picker.time.js"></script>
        <script src="/js/pickadate/legacy.js"></script>
        <script src="/js/pickadate/translations/es_ES.js"></script>
        
        <script src="/js/userInteraction.js?v=190316"></script>
        <script>        
        {% include 'ColectaItemBundle:Category:categoryform.js.twig' %}
    
        {% if rich_text_editor %}
            $(document).ready(function() {
                $('#FileText').summernote({
                    height: 180,
                    toolbar: [
                    //['style', ['style']], // no style button
                    ['style', ['bold', 'italic', 'underline', 'clear']],
                    //['fontsize', ['fontsize']],
                    //['color', ['color']],
                    ['para', ['ul', 'ol']],
                    //['height', ['height']],
                    ['insert', [/*'picture',*/ 'link']], // no insert buttons
                    //['table', ['table']], // no table button
                    ['help', ['help']] //no help button
                    ]
                });
            });
            
            var postForm = function() {
                var content = $('textarea[name="text"]').html($('#FileText').code());
            }
        {% endif %}
        
        var EventDateini = $('#EventDateini').pickadate({
            format: 'dd-mm-yyyy',
            onSet: function(context) {
                var picker = EventDateend.pickadate('picker');
                if(context.select > picker.get('select').pick)
                {
                    picker.set('select', context.select);
                }
                picker.set('min', new Date(context.select));
            }
        });
        
        var EventDateend = $( "#EventDateend" ).pickadate({
            format: 'dd-mm-yyyy',
            min: $('#EventDateini').val()
        });
        
        $('#EventDateiniTime').pickatime({
            interval: 10,
            format: 'HH:i'
        });
        $('#EventDateendTime').pickatime({
            interval: 10,
            format: 'HH:i'
        });
        
        {% if item is defined %}
            {% if item.type == 'Activity/Event' %}
                $(document).ready(function() {typeChosen('event');});
            {% elseif item.type == 'Item/Post' or item.type == 'Files/Folder' or item.type == 'Files/File' %}
                $(document).ready(function() {typeChosen('text');});
            {% elseif item.type == 'Activity/Route' or item.type == 'Activity/Place' %}
                $(document).ready(function() {typeChosen('map');});
            {% endif %}
        {% elseif type is defined %}
            {% if type == 'Event' %}
                $(document).ready(function() {typeChosen('event');});
            {% elseif type == 'Post' or type == 'Folder' or type == 'File' %}
                $(document).ready(function() {typeChosen('text');});
            {% elseif type == 'Route' or type == 'Place' %}
                $(document).ready(function() {typeChosen('map');});
            {% endif %}
        {% endif %}
        
        </script>
    {% endif %}
{% endblock %}