{% if items | length > 0 %}

<div class="relations">
    
    {% for item in items if item.draft == 0 %}
        <div id="item{{ item.id }}" class="relatedItem">            
            {% set path = 'Colecta' ~ item.type ~ ':micro.html.twig' %}
            {% set path = path | replace({'/':'Bundle:'}) %}
            {% include path with { 'item': item } only %}
        </div>
    {% endfor %}

</div>
    
{% endif %}