{% if items | length > 0 %}

<div class="relations panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Relacionado</h3>
    </div>
    <div class="panel-body">
        {% for item in items if item.draft == 0 %}  
            {% set path = 'Colecta' ~ item.type ~ ':micro.html.twig' %}
            {% set path = path | replace({'/':'Bundle:'}) %}
            {% include path with { 'item': item } only %}
        {% endfor %}
    </div>
</div>
    
{% endif %}