{% if items | length > 0 %}
<div class="bg-light px-3 pt-3 mt-3">
	<strong class="text-secondary d-block mb-2">Relacionado con {{ item.name }}:</strong>
	<ul class="related fa-ul m-0">
	    {% for item in items|reverse if item.draft == 0 %}  
	        {% set path = 'Colecta' ~ item.type ~ ':micro.html.twig' %}
	        {% set path = path | replace({'/':'Bundle:'}) %}
	        <li class="pb-3">{% include path with { 'item': item } only %}</li>
	    {% endfor %}
	</ul>
</div>
{% endif %}