{% if items | length > 0 %}

<h4>Relacionado con {{ item.name }}:</h4>
<ul class="related fa-ul">
    {% for item in items if item.draft == 0 %}  
        {% set path = 'Colecta' ~ item.type ~ ':micro.html.twig' %}
        {% set path = path | replace({'/':'Bundle:'}) %}
        <li>{% include path with { 'item': item } only %}</li>
    {% endfor %}
</ul>
{% endif %}